300 DIALOGEX 0, 0, 265, 157, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 PUSHBUTTON "PotPlayer", 3038, 10, 11, 60, 14
 PUSHBUTTON "Copyright", 3024, 72, 11, 60, 14
 PUSHBUTTON "History", 3027, 133, 11, 60, 14
 PUSHBUTTON "Command-Line", 3029, 195, 11, 60, 14
 CONTROL "", 3380, "SysTabControl32", 0, 29, 66, 190, 66
 PUSHBUTTON "Check for updates", 3030, 198, 138, 60, 14
}
