304 DIALOGEX 0, 0, 181, 250, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_CONTROLPARENT
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "broadcast information", 3285, 3, 6, 172, 84, 0, WS_EX_TRANSPARENT
 COMBOBOX 3005, 7, 16, 47, 237, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3004, 57, 16, 114, 12, ES_AUTOHSCROLL
 RTEXT "Broadcast Web Address:", 3295, 7, 33, 47, 8
 EDITTEXT 3077, 57, 31, 114, 12, ES_AUTOHSCROLL
 RTEXT "Broadcast Description:", 3297, 7, 47, 47, 8
 EDITTEXT 3071, 57, 47, 114, 38, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
 GROUPBOX "Broadcast properties", 3287, 3, 92, 172, 108, 0, WS_EX_TRANSPARENT
 RTEXT "Allowed viewers:", 3288, 6, 103, 52, 8
 EDITTEXT 3055, 61, 101, 54, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3248, "msctls_updown32", 0x00000036, 111, 101, 11, 14
 LTEXT "persons (~2000)", 3289, 117, 104, 54, 8
 AUTOCHECKBOX "Password:", 3086, 12, 118, 45, 8
 EDITTEXT 3049, 61, 116, 54, 12, ES_AUTOHSCROLL
 LTEXT "(Up to 10 digits)", 3290, 118, 118, 56, 8
 AUTOCHECKBOX "Mobile Per.Broadcasting", 3091, 12, 130, 88, 8
 PUSHBUTTON "Mobile broadcasting?", 3415, 102, 129, 71, 11
 AUTOCHECKBOX "Require login to watch broadcasting", 3090, 12, 142, 159, 8
 AUTOCHECKBOX "Allow broadcasting", 3161, 12, 152, 159, 9
 AUTOCHECKBOX "Disallow chat", 3165, 12, 163, 159, 9
 AUTOCHECKBOX "Do not store viewers of broadcast", 3174, 12, 174, 159, 9
 AUTOCHECKBOX "Auto control", 3182, 12, 185, 59, 9
 EDITTEXT 3065, 72, 184, 24, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3323, "msctls_updown32", 0x00000036, 92, 183, 11, 14
 LTEXT "< when more than", 3296, 97, 186, 74, 8
 GROUPBOX "Broadcasting Status", 3291, 3, 203, 172, 42, 0, WS_EX_TRANSPARENT
 RTEXT "Bitrate -", 3292, 8, 213, 41, 8
 RTEXT "Delay -", 3293, 8, 223, 41, 8
 RTEXT "Transfer size -", 3294, 8, 233, 41, 8
 LTEXT "", 3381, 54, 213, 117, 9
 LTEXT "", 3382, 54, 223, 117, 8
 LTEXT "", 3383, 54, 233, 117, 8
}
