320 DIALOGEX 0, 0, 218, 138, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 CTEXT "Currently brocasting is \"playing.\" Please choose one item from the following option.", 3381, 11, 29, 197, 17
 PUSHBUTTON "Stop the current broadcasting, choose other broadcast", 3021, 11, 48, 196, 12
 AUTOCHECKBOX "Skip original broadcast", 3155, 70, 63, 132, 9
 PUSHBUTTON "Suspend the current brocasting for later viewing", 3038, 11, 75, 196, 12
 PUSHBUTTON "By implementing the new program will apply.", 3024, 11, 91, 196, 12
 PUSHBUTTON "Stop the current broadcasting", 3027, 11, 107, 196, 12
}
