342 DIALOGEX 0, 0, 166, 47, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_CONTROLPARENT
FONT 9, "Arial", 0, FALSE
{
 CONTROL "", 3213, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 40, 6, 12, 12, WS_EX_DLGMODALFRAME
 RTEXT "Color:", 3285, 8, 8, 27, 8
 RTEXT "Bord.thickness:", 3286, 46, 9, 58, 8
 EDITTEXT 3069, 108, 8, 31, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3248, "msctls_updown32", 0x000000B6, 137, 8, 11, 12
 CONTROL "Clear information", 3031, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 29, 28, 60, 10
 CONTROL "Apply", 3033, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 104, 28, 29, 10
 CONTROL "Cancel", 3035, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 135, 28, 29, 10
}
