350 DIALOGEX 0, 0, 283, 240, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Source/Splitter Filter", 3311, 5, 3, 273, 224
 PUSHBUTTON "Built-in Splitter/Source settings", 3110, 73, 209, 106, 13
 PUSHBUTTON "Filter management", 3109, 193, 209, 82, 13
 LTEXT "", 3381, 10, 15, 263, 187
}
