353 DIALOGEX 0, 0, 284, 221, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Subtitle", 3285, 5, 3, 273, 146
 RTEXT "Subtitle output:", 3314, 8, 14, 77, 8
 COMBOBOX 3003, 88, 12, 185, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Font rendering method:", 3316, 8, 29, 77, 8
 COMBOBOX 3005, 88, 27, 185, 74, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "ASS/SSA subtitle style:", 3318, 8, 44, 77, 8
 COMBOBOX 3008, 88, 42, 185, 74, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Ignore HTML tags:", 3319, 8, 58, 77, 8
 AUTOCHECKBOX "Absolute size", 3041, 89, 57, 62, 10
 AUTOCHECKBOX "Relative size", 3042, 154, 57, 62, 10
 AUTOCHECKBOX "Font face", 3043, 219, 57, 55, 10
 AUTOCHECKBOX "Font color", 3044, 89, 69, 62, 10
 AUTOCHECKBOX "All fonts", 3045, 154, 69, 62, 10
 AUTOCHECKBOX "All styles", 3046, 219, 69, 55, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 82, 268, 1
 AUTOCHECKBOX "Show subtitles", 3040, 9, 86, 131, 10
 AUTOCHECKBOX "VMR/EVR subtitle smoother", 3119, 9, 96, 131, 10
 AUTOCHECKBOX "Correct ratio of image subtitle", 3066, 9, 106, 131, 10
 AUTOCHECKBOX "Load subs in folder if no matching one", 3067, 9, 116, 131, 10
 AUTOCHECKBOX "Force left-aligned", 3124, 9, 126, 131, 10
 AUTOCHECKBOX "Add a line break when sub.only 1 line", 3126, 9, 136, 131, 10
 AUTOCHECKBOX "Display bitmap subs outside vid.image", 3059, 142, 86, 134, 10
 AUTOCHECKBOX "Display text subs inside video image", 3057, 142, 96, 134, 10
 AUTOCHECKBOX "Display subs under video (if possible)", 3113, 142, 106, 135, 10
 AUTOCHECKBOX "Apply IDX/SUB custom position", 3123, 142, 116, 129, 10
 AUTOCHECKBOX "Auto add <BR> tag to SMI subtitles", 3047, 142, 126, 129, 10
 AUTOCHECKBOX "Ignore <BR> tag in SMI subtitles", 3048, 142, 136, 129, 10
 GROUPBOX "Texture Settings", 3286, 5, 154, 273, 57
 RTEXT "Max resolution:", 3315, 8, 167, 54, 8
 COMBOBOX 3004, 65, 165, 87, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Sub pictures to buffer:", 3287, 154, 167, 74, 8
 EDITTEXT 3088, 230, 165, 39, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 265, 166, 10, 14
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 182, 268, 1
 AUTOCHECKBOX "Enable ASS/SSA subtitle animations", 3053, 9, 186, 251, 10
 AUTOCHECKBOX "Round up to power of two", 3058, 9, 196, 128, 10
}
