354 DIALOGEX 0, 0, 283, 203, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "General Settings", 3285, 5, 3, 273, 170
 RTEXT "On top:", 3286, 11, 15, 72, 8
 COMBOBOX 3003, 85, 13, 187, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Keep on top in fullscreen mode", 3125, 85, 27, 185, 10
 RTEXT "File open method:", 3288, 11, 42, 72, 8
 COMBOBOX 3005, 85, 40, 187, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Tray icon:", 3290, 11, 57, 72, 8
 COMBOBOX 3008, 85, 55, 186, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Check for updates:", 3291, 11, 72, 72, 8
 COMBOBOX 3010, 85, 70, 186, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Multiple instances:", 3293, 11, 87, 72, 8
 COMBOBOX 3011, 85, 85, 186, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 101, 269, 3
 AUTOCHECKBOX "Fixed window position when minimized", 3129, 11, 105, 138, 10
 AUTOCHECKBOX "Show tooltips", 3072, 151, 105, 123, 10
 AUTOCHECKBOX "Hide all windows when minimized", 3094, 11, 116, 138, 10
 AUTOCHECKBOX "Snap to edge/window", 3073, 151, 116, 123, 10
 AUTOCHECKBOX "Pause playback when minimized", 3110, 11, 127, 138, 10
 AUTOCHECKBOX "Store settings to .ini file", 3083, 151, 127, 123, 10
 AUTOCHECKBOX "Resize window based on the center", 3126, 11, 137, 138, 10
 AUTOCHECKBOX "Enable taskbar controls (in Win7/8)", 3336, 151, 138, 123, 10
 AUTOCHECKBOX "Show history of recent files in fav menu", 3127, 11, 148, 138, 10
 AUTOCHECKBOX "Default window size on closing file", 3123, 151, 149, 123, 10
 AUTOCHECKBOX "Use scrollbar in popup menu", 3337, 11, 159, 138, 10
}
