379 DIALOGEX 0, 0, 284, 140, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Seamless Playback", 3292, 5, 3, 273, 89
 LTEXT "Seamless Playback (also known as \"gapless playback\") is the uninterrupted playback of consecutive audio tracks and/or short video clips without intervening silence.With this function enabled the program will preload the next playlist items (up to the specified limit) for seamless transitions.Also you can play multiple files as a single file by choosing preload&&combine method.Please note that you need to use the built-in filters if you want this feature to work properly.", 3312, 12, 12, 261, 49
 RTEXT "Method:", 3310, 15, 64, 59, 8
 COMBOBOX 3012, 76, 62, 200, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Max files to process:", 3308, 7, 78, 67, 8
 EDITTEXT 3105, 76, 76, 35, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 108, 74, 10, 14
 AUTOCHECKBOX "Preload files before starting playback", 3041, 114, 77, 162, 10
 GROUPBOX "Playback of Streaming Media (mms, http)", 3293, 5, 94, 273, 42
 AUTOCHECKBOX "Enable timeshift", 3040, 12, 104, 261, 10
 CONTROL "", 3084, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 51, 117, 164, 10
 EDITTEXT 3267, 216, 115, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 241, 121, 11, 12
 LTEXT "Min.", 3289, 254, 117, 20, 10
 RTEXT "Time:", 3290, 11, 117, 39, 8
}
