382 DIALOGEX 0, 0, 284, 247, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "DVD Settings", 3291, 5, 3, 273, 175, 0, WS_EX_TRANSPARENT
 RTEXT "Location:", 3297, 9, 14, 73, 8
 COMBOBOX 3007, 85, 12, 187, 148, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Custom Location:", 3298, 9, 31, 73, 8
 EDITTEXT 3069, 85, 29, 173, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 3021, 261, 28, 12, 12
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 44, 268, 1
 RTEXT "Navigator:", 3290, 9, 51, 73, 8
 COMBOBOX 3008, 85, 49, 187, 172, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "CLSID:", 3292, 9, 67, 73, 8
 EDITTEXT 3070, 85, 65, 187, 12, ES_AUTOHSCROLL
 RTEXT "Menu Language:", 3287, 9, 83, 73, 8
 COMBOBOX 3003, 85, 81, 187, 148, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 RTEXT "Audio Language:", 3288, 9, 98, 73, 8
 COMBOBOX 3005, 85, 96, 187, 179, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 RTEXT "Subtitle Language:", 3289, 9, 113, 73, 8
 COMBOBOX 3006, 85, 111, 187, 172, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 AUTOCHECKBOX "Display DVD Subtitles", 3034, 85, 126, 176, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 139, 268, 1
 RTEXT "Auto Resume:", 3299, 9, 146, 73, 8
 COMBOBOX 3009, 85, 144, 187, 172, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Auto Skip:", 3300, 9, 162, 73, 8
 COMBOBOX 3010, 85, 160, 187, 172, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Blu-ray Settings", 3294, 5, 182, 273, 43, 0, WS_EX_TRANSPARENT
 RTEXT "Playback method:", 3296, 9, 194, 73, 8
 COMBOBOX 3004, 85, 192, 187, 148, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Min.chapter processing:", 3295, 9, 210, 73, 8
 EDITTEXT 3267, 85, 208, 45, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 168, 216, 11, 12
 LTEXT "Sec.", 3293, 133, 210, 20, 10
}
