394 DIALOGEX 0, 0, 209, 151, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 COMBOBOX 3003, 14, 25, 138, 136, CBS_DROPDOWNLIST | WS_VSCROLL
 LISTBOX 3242, 14, 40, 138, 80, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "Add", 3021, 158, 25, 38, 12
 PUSHBUTTON "Delete", 3024, 158, 40, 38, 12
 PUSHBUTTON "Up", 3027, 158, 65, 38, 12
 PUSHBUTTON "Down", 3029, 158, 80, 38, 12
 PUSHBUTTON "Test", 3031, 158, 107, 38, 12
}
