411 DIALOGEX 0, 0, 292, 308, 0
STYLE DS_SETFONT | WS_POPUP
EXSTYLE = WS_EX_ACCEPTFILES
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "List of files to be processed to create thumbnail images", 3197, 16, 22, 261, 97
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x000010A0, 21, 32, 251, 83
 GROUPBOX "Image Settings", 3199, 16, 120, 261, 143
 RTEXT "Filename:", 3385, 22, 132, 39, 10
 EDITTEXT 3069, 63, 130, 192, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 3021, 258, 130, 15, 11
 RTEXT "Format:", 3387, 22, 147, 39, 10
 COMBOBOX 3025, 63, 145, 68, 100, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Aspect Ratio:", 3388, 17, 163, 43, 10
 COMBOBOX 3026, 63, 161, 68, 84, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Save image into the related video's folder", 3044, 133, 146, 142, 10
 AUTOCHECKBOX "Include file extension in filename", 3045, 133, 157, 136, 10
 AUTOCHECKBOX "Include subtitles in image", 3046, 133, 167, 136, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 20, 179, 254, 3
 RTEXT "Columns:", 3381, 20, 188, 49, 10
 EDITTEXT 3088, 73, 186, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 99, 188, 10, 14
 RTEXT "Width:", 3383, 113, 188, 49, 10
 EDITTEXT 3099, 166, 186, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 193, 191, 10, 14
 RTEXT "Rows:", 3382, 20, 205, 49, 10
 EDITTEXT 3095, 73, 203, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 99, 203, 10, 14
 RTEXT "Margin:", 3384, 205, 188, 26, 10
 EDITTEXT 3105, 235, 186, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3266, "msctls_updown32", 0x000000B6, 259, 192, 10, 14
 AUTOCHECKBOX "Auto width", 3047, 166, 202, 106, 11
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 20, 220, 254, 3
 RTEXT "File info font:", 3386, 22, 230, 61, 10
 PUSHBUTTON "Font", 3024, 87, 227, 105, 13
 AUTOCHECKBOX "Include file info", 3034, 196, 229, 74, 10
 AUTOCHECKBOX "Include time", 3040, 196, 246, 74, 10
 RTEXT "Time Font:", 3402, 22, 247, 61, 10
 PUSHBUTTON "Font", 3027, 87, 245, 105, 13
 CONTROL "", 3037, "msctls_progress32", WS_BORDER, 16, 269, 261, 8
}
