415 DIALOGEX 0, 0, 278, 191, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Current embedded images", 3381, 14, 27, 250, 87
 AUTORADIOBUTTON "240x180", 3209, 21, 42, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "320x240", 3211, 69, 42, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "400x300", 3214, 116, 42, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "480x360", 3218, 164, 42, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "640x480", 3222, 213, 42, 44, 10, NOT WS_TABSTOP
 EDITTEXT 3069, 20, 66, 185, 42, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL
 PUSHBUTTON "Copy", 3042, 209, 95, 50, 13
 EDITTEXT 3077, 20, 134, 185, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Copy", 3056, 209, 133, 50, 13
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 19, 58, 242, 2
 GROUPBOX "Current embedded address", 3385, 14, 119, 250, 35
}
