416 DIALOGEX 0, 0, 235, 137, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 RTEXT "Top margin:", 3287, 56, 35, 53, 8
 EDITTEXT 3088, 113, 33, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 148, 33, 10, 14
 RTEXT "Left margin:", 3288, 26, 53, 42, 8
 EDITTEXT 3095, 72, 51, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 107, 51, 10, 14
 RTEXT "Right margin:", 3289, 121, 53, 53, 8
 EDITTEXT 3099, 177, 51, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 206, 55, 10, 14
 RTEXT "Bottom margin:", 3290, 56, 72, 53, 8
 EDITTEXT 3105, 113, 70, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3265, "msctls_updown32", 0x000000B6, 148, 70, 10, 14
 AUTOCHECKBOX "Operate only in fullscreen mode", 3040, 71, 88, 146, 10
 GROUPBOX "Margin settings", 3191, 15, 23, 207, 80
}
