419 DIALOGEX 0, 0, 443, 160, 0
STYLE DS_SETFONT | WS_POPUP | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 9, "Arial", 0, FALSE
{
 RTEXT "Max scene size:", 3287, 9, 24, 51, 8
 EDITTEXT 3088, 61, 23, 58, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 108, 21, 10, 14
 RTEXT "Interval:", 3286, 11, 39, 47, 8
 COMBOBOX 3003, 61, 38, 58, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Close this dialog when switching to a scene", 3034, 127, 22, 149, 10
 AUTOCHECKBOX "Stay this dialog on top", 3035, 127, 32, 87, 10
 AUTOCHECKBOX "Display scenes vertically", 3036, 127, 42, 151, 10
}
