422 DIALOGEX 0, 0, 239, 250, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "General settings", 3286, 14, 24, 211, 69
 RTEXT "Cache Size:", 3285, 27, 38, 63, 8
 EDITTEXT 3111, 93, 36, 55, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3250, "msctls_updown32", 0x000000B6, 143, 46, 10, 12
 LTEXT "KB", 3312, 151, 38, 22, 8
 PUSHBUTTON "Default", 3021, 175, 35, 44, 14
 CONTROL "", 3199, "STATIC", SS_ETCHEDHORZ, 17, 53, 206, 1
 AUTOCHECKBOX "Use single video output pin (Recommended)", 3048, 22, 57, 197, 10, BS_MULTILINE
 AUTOCHECKBOX "Use single audio output pin (Recommended)", 3035, 22, 68, 197, 10, BS_MULTILINE
 AUTOCHECKBOX "Load embedded fonts", 3039, 22, 79, 197, 10, BS_MULTILINE
 GROUPBOX "MPEG 1/PS/TS", 3287, 14, 98, 211, 116
 AUTOCHECKBOX "Don't process AVC1 as H264", 3047, 22, 108, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Add an empty subtitle stream", 3045, 22, 118, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Process all PTS media stream time", 3036, 22, 128, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Process TrueHD + AC3 stream as TrueHD", 3037, 22, 138, 193, 9, BS_MULTILINE
 CONTROL "", 3200, "STATIC", SS_ETCHEDHORZ, 17, 151, 206, 1
 AUTOCHECKBOX "Use HDMV LPCM packet processing", 3044, 22, 156, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Use AC3 packet processing", 3040, 22, 167, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Use TrueHD packet processing", 3041, 22, 178, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Use DIRAC packet processing", 3042, 22, 189, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Use DVD Subpicture packet processing", 3043, 22, 200, 193, 9, BS_MULTILINE
}
