432 DIALOGEX 0, 0, 284, 224, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Aspect Ratio", 3292, 5, 3, 273, 82
 RTEXT "AR Mode:", 3310, 9, 16, 59, 8
 COMBOBOX 3012, 71, 14, 203, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Override AR:", 3311, 9, 32, 59, 8
 COMBOBOX 3013, 71, 31, 130, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Set Custom AR Size", 3021, 205, 31, 69, 13
 RTEXT "Output Device:", 3312, 9, 50, 59, 8
 COMBOBOX 3014, 71, 48, 203, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 64, 268, 3
 AUTOCHECKBOX "Fit Window to Image Size", 3040, 12, 70, 194, 10
 GROUPBOX "Aspect Ratio Mode in Fullscreen Mode", 3294, 5, 88, 273, 42
 AUTOCHECKBOX "Enable the selected Aspect Ratio Mode when if the margin around the video", 3043, 11, 99, 253, 10
 RTEXT "- is less than", 3314, 8, 113, 60, 8
 EDITTEXT 3273, 71, 112, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3259, "msctls_updown32", 0x000000B6, 97, 121, 10, 12
 LTEXT "%", 3315, 110, 114, 19, 8
 COMBOBOX 3016, 133, 112, 141, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Subtitle Margin", 3293, 5, 133, 273, 53
 AUTOCHECKBOX "Enable the selected preset to force subtitle output in the margin at the bottom", 3041, 11, 143, 262, 10
 AUTOCHECKBOX "Operate only in fullscreen mode", 3042, 22, 155, 238, 10
 RTEXT "Subtitle Margin:", 3313, 9, 170, 59, 8
 COMBOBOX 3015, 71, 168, 202, 91, CBS_DROPDOWNLIST | WS_VSCROLL
}
