441 DIALOGEX 0, 0, 282, 183, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Language/Stream Selection", 3401, 5, 3, 273, 59
 RTEXT "Selection Method:", 3319, 9, 14, 76, 8
 COMBOBOX 3004, 89, 12, 184, 215, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Preferred Language:", 3318, 9, 31, 76, 8
 EDITTEXT 3069, 89, 29, 184, 12, ES_AUTOHSCROLL
 RTEXT "Preferred Stream:", 3320, 9, 46, 76, 8
 EDITTEXT 3112, 89, 45, 37, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3251, "msctls_updown32", 0x000000B6, 118, 47, 10, 12
 GROUPBOX "Synchronization", 3403, 5, 66, 273, 44
 RTEXT "Audio sync unit (ms):", 3310, 9, 77, 76, 8
 EDITTEXT 3111, 89, 75, 37, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3250, "msctls_updown32", 0x000000B6, 118, 78, 10, 12
 RTEXT "2nd audio sync unit (ms):", 3287, 129, 77, 104, 8
 EDITTEXT 3113, 236, 75, 37, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3252, "msctls_updown32", 0x000000B6, 271, 68, 10, 12
 RTEXT "Audio sync control:", 3286, 9, 93, 76, 8
 COMBOBOX 3003, 89, 91, 184, 215, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Additional Settings", 3402, 5, 114, 273, 47
 AUTOCHECKBOX "Voice Removal", 3378, 15, 126, 115, 10
 AUTOCHECKBOX "Voice Emphasis", 3379, 15, 137, 115, 10
 AUTOCHECKBOX "Swap Stereo Channels", 3381, 15, 147, 115, 10
}
