442 DIALOGEX 0, 0, 284, 151, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Language", 3382, 5, 3, 273, 67
 RTEXT "Subtitle priority:", 3314, 8, 15, 66, 8
 COMBOBOX 3003, 77, 13, 196, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Preferred lang.:", 3318, 8, 31, 66, 8
 EDITTEXT 3069, 77, 29, 196, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Prefer multiple subtitles", 3044, 77, 44, 196, 10
 AUTOCHECKBOX "Disable when does not exist in the subtitles", 3061, 77, 55, 196, 10
 GROUPBOX "Sync / Other", 3383, 5, 73, 273, 60
 RTEXT "Subtitle sync unit:", 3310, 7, 83, 66, 8
 EDITTEXT 3111, 77, 81, 35, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3250, "msctls_updown32", 0x000000B6, 97, 86, 10, 12
 LTEXT "Sec.", 3312, 115, 83, 16, 8
 AUTOCHECKBOX "Keep Subtitle Sync", 3380, 134, 82, 136, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 96, 268, 1
 RTEXT "Min showing period:", 3319, 8, 102, 66, 8
 EDITTEXT 3115, 77, 100, 35, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3253, "msctls_updown32", 0x000000B6, 100, 105, 10, 12
 LTEXT "Sec.", 3320, 115, 103, 16, 8
 AUTOCHECKBOX "Process only if the next subtitle is empty", 3381, 134, 100, 144, 10
 RTEXT "Max showing period:", 3321, 8, 118, 66, 8
 EDITTEXT 3116, 77, 116, 35, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3254, "msctls_updown32", 0x000000B6, 100, 121, 10, 12
 LTEXT "Sec.", 3322, 115, 118, 16, 8
}
