448 DIALOGEX 0, 0, 286, 149, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "3D Video Mode Settings", 3304, 10, 5, 273, 130
 AUTOCHECKBOX "Enable 3D Video Mode (It requires pixel shader support)", 3140, 15, 15, 262, 9
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 29, 268, 1
 RTEXT "Input (Source):", 3306, 12, 36, 80, 10
 COMBOBOX 3349, 95, 34, 178, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Offset X:", 3287, 12, 52, 80, 8
 EDITTEXT 3088, 95, 50, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 117, 52, 10, 14
 RTEXT "Offset Y:", 3288, 12, 67, 80, 8
 EDITTEXT 3089, 95, 65, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 118, 68, 10, 14
 AUTOCHECKBOX "Full resolution", 3138, 138, 51, 138, 9
 AUTOCHECKBOX "Swap left/right images", 3139, 138, 66, 138, 9
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 13, 82, 268, 1
 RTEXT "Output (Screen):", 3307, 12, 89, 80, 10
 COMBOBOX 3351, 95, 87, 178, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 13, 104, 268, 1
 AUTOCHECKBOX "Auto detect 3D input format (based on filename suffixes eg.-lr,-ab)", 3141, 14, 110, 226, 9
 AUTOCHECKBOX "Auto switch between video modes (2D<>3D)", 3142, 25, 121, 196, 9
 CONTROL "<a>info</a>", 3417, "SysLink", WS_TABSTOP, 242, 116, 36, 8
}
