461 DIALOGEX 0, 0, 262, 69, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 RTEXT "Input FPS:", 3381, 22, 28, 46, 8
 COMBOBOX 3003, 70, 26, 48, 51, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL
 RTEXT "Output FPS:", 3382, 141, 28, 46, 8
 COMBOBOX 3004, 189, 26, 48, 51, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL
 CTEXT "->", -1, 121, 28, 17, 8
}
