462 DIALOGEX 0, 0, 406, 206, 0
STYLE DS_SETFONT | WS_POPUP | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
EXSTYLE = WS_EX_ACCEPTFILES
FONT 9, "Arial", 0, FALSE
{
 CONTROL "", 3242, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000080D, 21, 33, 373, 105
 RTEXT "Auto search:", 3315, 29, 145, 41, 8
 COMBOBOX 3004, 72, 143, 135, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "After searching:", 3316, 17, 160, 53, 8
 COMBOBOX 3005, 72, 159, 135, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Load selected subtitle", 3026, 211, 143, 92, 12
 PUSHBUTTON "Add checked subtitle(s)", 3028, 306, 143, 89, 12
 PUSHBUTTON "Save selected subtitle as...", 3029, 211, 158, 92, 12
 PUSHBUTTON "Save checked subtitle(s)", 3027, 306, 158, 90, 12
 GROUPBOX "Available subtitles", 3285, 14, 23, 384, 153, 0, WS_EX_TRANSPARENT
}
