463 DIALOGEX 0, 0, 200, 69, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 RTEXT "Subtitle Sync (ms):", 3381, 17, 28, 64, 8
 EDITTEXT 3069, 84, 26, 49, 12, ES_AUTOHSCROLL
 CONTROL "", 3259, "msctls_updown32", 0x000000B6, 127, 32, 10, 12
 PUSHBUTTON "Apply", 3021, 137, 25, 43, 13
}
