464 DIALOGEX 0, 0, 222, 249, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 EDITTEXT 3069, 4, 3, 214, 241, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_NOHIDESEL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
}
