112 MENU
{
 POPUP "Chat "
 {
  MENUITEM "Vyhodit", 10216
  MENUITEM "Send to Blacklist", 10263
  MENUITEM "Ban chat", 10507
  MENUITEM "Lift chat ban", 10508
  MENUITEM "Chat ban registration list", 10506
  MENUITEM "Blacklist Management...", 10409
  MENUITEM SEPARATOR
  MENUITEM "Appointment of administrator", 10254
  MENUITEM "Dismissal of the administrator", 10255
  MENUITEM SEPARATOR
  MENUITEM "Odeslat soukromou zprávu", 10217
  MENUITEM "Ban chat", 10333
  MENUITEM "Report", 10408
 }
}
