311 DIALOGEX 0, 0, 234, 281, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Komprese videa", 3285, 14, 23, 207, 162
 RTEXT "Kodér:", 3293, 18, 34, 68, 9
 COMBOBOX 3010, 89, 32, 126, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Rozlišení:", 3286, 18, 50, 68, 9
 EDITTEXT 3267, 90, 48, 44, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 121, 54, 11, 12
 CTEXT "X", 3296, 138, 50, 8, 8
 EDITTEXT 3271, 149, 48, 44, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3256, "msctls_updown32", 0x000000B6, 174, 55, 11, 12
 PUSHBUTTON "¡", 3021, 199, 48, 16, 11
 RTEXT "Zmìna velikosti:", 3295, 18, 66, 68, 9
 COMBOBOX 3012, 89, 64, 126, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Odstranìní prokládání:", 3294, 18, 82, 68, 9
 COMBOBOX 3014, 89, 80, 126, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Kvalita (bitový tok):", 3287, 18, 98, 68, 9
 COMBOBOX 3011, 89, 96, 126, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Snímkù za sekundu (FPS):", 3288, 18, 114, 68, 9
 COMBOBOX 3013, 89, 112, 126, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Použít originální FPS pokud možno", 3047, 89, 129, 126, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 17, 143, 200, 1
 AUTOCHECKBOX "Zpoždìní sítì a snížení kvality.", 3040, 23, 148, 193, 10
 AUTOCHECKBOX "Použít více-vláknovou kompresi", 3052, 23, 159, 193, 10
 AUTOCHECKBOX "Použít vysokou kvalitu komprese (nutný test)", 3057, 23, 170, 193, 10
 GROUPBOX "Komprese audia", 3289, 14, 188, 207, 65
 RTEXT "Kanál:", 3290, 18, 201, 68, 9
 COMBOBOX 3022, 89, 199, 126, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vzorkovací frekvence:", 3291, 18, 218, 68, 9
 COMBOBOX 3026, 89, 216, 126, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Kvalita (bitový tok):", 3292, 18, 235, 68, 9
 COMBOBOX 3028, 89, 233, 126, 146, CBS_DROPDOWNLIST | WS_VSCROLL
}
