313 DIALOGEX 0, 0, 194, 103, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 RTEXT "Adresa serveru:", 3285, 7, 30, 54, 8
 EDITTEXT 3069, 64, 28, 118, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Vždy se zeptat", 3284, 64, 41, 117, 10
 AUTOCHECKBOX "Restricted view address", 3326, 64, 50, 117, 10
 AUTOCHECKBOX "Mobilní pøenos", 3329, 64, 68, 117, 10
 AUTOCHECKBOX "Skrýt originální vysílání", 3286, 64, 59, 117, 10
}
