375 DIALOGEX 0, 0, 284, 235, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Zprávy pøehrávání", 3191, 5, 3, 273, 91, 0, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Zobrazovat zprávy", 3057, 11, 13, 123, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 26, 269, 1
 PUSHBUTTON "Písmo", 3021, 11, 32, 119, 13
 RTEXT "Velikost písma:", 3287, 133, 34, 49, 8
 EDITTEXT 3088, 185, 31, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 218, 34, 10, 14
 RTEXT "Barva:", 3291, 228, 33, 31, 8
 CONTROL "", 3213, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 261, 31, 12, 12, WS_EX_DLGMODALFRAME
 AUTOCHECKBOX "Automatická velikost", 3040, 142, 45, 80, 10
 RTEXT "Obrys:", 3295, 228, 49, 31, 8
 CONTROL "", 3214, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 261, 46, 12, 12, WS_EX_DLGMODALFRAME
 RTEXT "Horizontální:", 3292, 9, 49, 43, 8
 COMBOBOX 3013, 55, 48, 75, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vertikální:", 3290, 9, 66, 43, 8
 COMBOBOX 3005, 55, 64, 75, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Levý okraj:", 3288, 133, 59, 49, 8
 EDITTEXT 3095, 185, 57, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 222, 60, 10, 14
 AUTOCHECKBOX "Zobrazovat zprávy pøímo na obraze", 3034, 12, 80, 123, 10
 RTEXT "Horní okraj:", 3289, 133, 77, 49, 8
 EDITTEXT 3099, 185, 75, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 222, 79, 10, 14
 GROUPBOX "Nastavení vlastní zprávy", 3194, 5, 97, 273, 62, 0, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Zobrazovat zprávy v pøekryvné ploše/VMR povrchu", 3061, 11, 106, 155, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 120, 269, 1
 RTEXT "Metoda:", 3293, 9, 127, 43, 8
 COMBOBOX 3016, 55, 125, 119, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Zobrazit %", 3052, 178, 126, 60, 10
 RTEXT "Formát èasu:", 3294, 9, 142, 43, 8
 COMBOBOX 3003, 55, 140, 119, 30, CBS_DROPDOWN | WS_VSCROLL
 AUTOCHECKBOX "Zobrazit název", 3044, 178, 141, 96, 10
}
