380 DIALOGEX 0, 0, 284, 185, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Video zaøízení", 3285, 5, 3, 273, 76, 0, WS_EX_TRANSPARENT
 RTEXT "Zaøízení:", 3286, 11, 15, 25, 8
 COMBOBOX 3003, 39, 13, 223, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "...", 3038, 264, 13, 11, 12
 RTEXT "Typ:", 3287, 11, 32, 25, 8
 COMBOBOX 3005, 39, 29, 85, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 3008, 171, 29, 103, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vstup:", 3288, 11, 47, 25, 8
 COMBOBOX 3009, 39, 45, 85, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Kanál:", 3289, 127, 47, 40, 8
 EDITTEXT 3055, 171, 45, 103, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3248, "msctls_updown32", 0x00000036, 264, 46, 11, 14
 RTEXT "Audio:", 3290, 11, 62, 25, 8
 COMBOBOX 3006, 39, 61, 85, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Hledat", 3024, 171, 61, 50, 12
 PUSHBUTTON "Další nastavení", 3027, 224, 61, 50, 12
 GROUPBOX "Audio zaøízení", 3291, 5, 81, 273, 53, 0, WS_EX_TRANSPARENT
 RTEXT "Zaøízení:", 3292, 11, 91, 25, 8
 COMBOBOX 3016, 39, 90, 235, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vstup:", 3293, 11, 108, 25, 8
 COMBOBOX 3019, 39, 106, 235, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Pøeji si slyšet spojení", 3034, 39, 120, 234, 10
 RTEXT "Formát:", 3294, 127, 32, 40, 8
 GROUPBOX "Pokroèilé nastavení", 3295, 5, 136, 273, 28, 0, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Povolit èasový posun", 3040, 13, 148, 259, 10
}
