385 DIALOGEX 0, 0, 286, 169, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení odstranìní prokládání", 3304, 5, 3, 273, 44
 RTEXT "Metoda:", 3306, 12, 15, 125, 10
 COMBOBOX 3349, 140, 13, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Výchozí poøadí snímkù (žádné info o prokl.):", 3308, 12, 30, 125, 10
 COMBOBOX 3176, 140, 29, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Zpùsob odstranìní prokládání", 3310, 5, 50, 273, 44
 RTEXT "S anti-staggered informací:", 3312, 12, 61, 125, 10
 COMBOBOX 3350, 140, 59, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Bez anti-staggered informací:", 3314, 12, 77, 125, 10
 COMBOBOX 3180, 140, 75, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Nastavení S/W odstranìní prokládání", 3301, 5, 97, 273, 29
 RTEXT "Metoda:", 3302, 11, 110, 28, 10
 COMBOBOX 3351, 43, 108, 117, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "FSC:", 3316, 163, 110, 31, 10
 COMBOBOX 3352, 197, 108, 76, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Nastavení H/W odstranìní prokládání", 3298, 5, 129, 273, 29
 RTEXT "Metoda:", 3299, 11, 142, 28, 10
 COMBOBOX 3107, 43, 140, 117, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "FSC:", 3300, 163, 142, 31, 10
 COMBOBOX 3172, 197, 140, 76, 137, CBS_DROPDOWNLIST | WS_VSCROLL
}
