413 DIALOGEX 0, 0, 248, 323, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení uložení", 3286, 12, 20, 226, 76, 0, WS_EX_TRANSPARENT
 EDITTEXT 3069, 17, 30, 199, 12, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "...", 3021, 219, 30, 15, 11
 RTEXT "Prefix názvu souboru:", 3294, 18, 48, 69, 8
 EDITTEXT 3095, 91, 46, 142, 12, ES_AUTOHSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 16, 62, 218, 2
 AUTOCHECKBOX "Oøíznutí", 3040, 19, 67, 47, 10
 AUTORADIOBUTTON "Konec pøi délce", 3406, 74, 67, 73, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Konec pøi velikosti", 3036, 154, 66, 73, 10, NOT WS_TABSTOP
 EDITTEXT 3088, 86, 79, 35, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3248, "msctls_updown32", 0x000000B6, 116, 82, 11, 12
 LTEXT "min.", 3287, 123, 81, 20, 8
 EDITTEXT 3099, 165, 79, 40, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3249, "msctls_updown32", 0x000000B6, 199, 83, 11, 12
 LTEXT "MB", 3288, 209, 81, 20, 8
 GROUPBOX "Výstupní nastavení", 3394, 12, 100, 226, 131
 RTEXT "Formát souboru:", 3197, 18, 111, 39, 8
 COMBOBOX 3003, 60, 109, 120, 140, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Rychlost:", 3398, 182, 111, 21, 8
 EDITTEXT 3403, 206, 109, 26, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3250, "msctls_updown32", 0x000000B6, 231, 114, 10, 12
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 14, 125, 222, 2
 RTEXT "Video kodek:", 3402, 15, 131, 42, 8
 COMBOBOX 3005, 60, 129, 156, 138, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "...", 3330, 219, 129, 15, 11
 RTEXT "Kvalita obrazu:", 3404, 14, 146, 45, 8
 EDITTEXT 3105, 60, 145, 48, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 83, 148, 10, 14
 LTEXT "KB/s", 3384, 111, 147, 28, 8
 AUTOCHECKBOX "Použít HD kompresi", 3034, 148, 146, 85, 10
 RTEXT "Velikost obrazu:", 3202, 18, 163, 39, 8
 COMBOBOX 3011, 60, 161, 72, 138, CBS_DROPDOWN | WS_VSCROLL
 COMBOBOX 3051, 135, 161, 99, 129, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "FPS:", 3205, 18, 178, 39, 8
 COMBOBOX 3006, 60, 176, 72, 122, CBS_DROPDOWN | WS_VSCROLL
 AUTOCHECKBOX "Použít více-vláknovou komp.", 3047, 135, 177, 99, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 14, 191, 222, 2
 RTEXT "Audio kodek:", 3208, 15, 198, 43, 8
 COMBOBOX 3008, 60, 196, 103, 129, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 3010, 167, 196, 64, 122, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vzorkovací frekvence:", 3216, 15, 214, 42, 8
 COMBOBOX 3014, 60, 212, 103, 129, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 3017, 167, 212, 64, 122, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Info", 3289, 12, 235, 226, 57, 0, WS_EX_TRANSPARENT
 RTEXT "Název souboru:", 3290, 18, 246, 40, 8
 EDITTEXT 3082, 62, 246, 173, 12, ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
 RTEXT "Délka záznamù:", 3291, 18, 258, 40, 8
 LTEXT "00:00:00", 3381, 62, 258, 45, 8
 RTEXT "Kapacita:", 3293, 112, 258, 31, 8
 LTEXT "0 MB", 3383, 145, 258, 89, 8
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 14, 269, 222, 2
 PUSHBUTTON "Otevøít složku", 3038, 17, 274, 106, 13
 PUSHBUTTON "Start", 3042, 129, 274, 102, 13
}
