426 DIALOGEX 0, 0, 302, 304, 0
STYLE DS_SETFONT | WS_POPUP
EXSTYLE = WS_EX_CONTROLPARENT
FONT 9, "Arial", 0, FALSE
{
 PUSHBUTTON "Zachytávání", 3039, 12, 14, 52, 14
 PUSHBUTTON "Kamera", 3038, 67, 14, 52, 14
 PUSHBUTTON "Analogová TV", 3024, 121, 14, 52, 14
 PUSHBUTTON "Digitální TV", 3025, 176, 14, 52, 14
 PUSHBUTTON "DVD", 3026, 230, 14, 44, 14
 CONTROL "", 3380, "SysTabControl32", 0, 7, 37, 275, 249
 PUSHBUTTON "Otevøít zaøízení (&O)", 3035, 7, 288, 60, 14
}
