107 MENU
{
 POPUP "Menu"
 {
  MENUITEM "- Zachytávaná oblast 1 - ", 10441, INACTIVE
  MENUITEM "Otevøít", 10188
  MENUITEM "Skrýt", 10190
  MENUITEM "Aktuální kamera", 10189
  MENUITEM SEPARATOR
  MENUITEM "- Zachytávaná oblast 2 - ", 10441, INACTIVE
  MENUITEM "Otevøít", 10191
  MENUITEM "Skrýt", 10193
  MENUITEM "Aktuální zachytávaná oblast", 10192
  MENUITEM SEPARATOR
  MENUITEM "Nastavení zachytávání...", 10194
  MENUITEM SEPARATOR
  MENUITEM "Zavøít zachytávání", 10167
 }
}
