310 DIALOGEX 0, 0, 265, 262, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Otevøít URL", 3381, 13, 23, 237, 54
 ICON 100, -1, 23, 37, 20, 20
 LTEXT "Zadejte úplnou cestu k souboru nebo URL pro pøehrání", 3285, 51, 34, 183, 8
 LTEXT "Napøíklad http://www.daum.net/test.mp3", 3286, 51, 47, 180, 8
 COMBOBOX 3003, 22, 59, 166, 132, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "Smazat URL ", 3022, 194, 59, 50, 12
 GROUPBOX "Cesta k souboru", 3288, 13, 81, 237, 151
 COMBOBOX 3005, 22, 93, 166, 140, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 PUSHBUTTON "Otevøít složku", 3021, 193, 93, 50, 12
 CONTROL "", 3242, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000880D, 22, 110, 221, 114
}
