318 DIALOGEX 0, 0, 182, 133, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Cesta k DVD", 3285, 4, 0, 170, 50, 0, WS_EX_TRANSPARENT
 AUTORADIOBUTTON "Výchozí v systému", 3209, 14, 10, 144, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Vlastní", 3211, 14, 22, 144, 10, NOT WS_TABSTOP
 EDITTEXT 3069, 25, 33, 129, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 3021, 158, 33, 12, 12
 GROUPBOX "Jazyk/Navigátor", 3286, 4, 52, 170, 73, 0, WS_EX_TRANSPARENT
 RTEXT "Nabídky:", 3287, 12, 64, 38, 8
 COMBOBOX 3003, 53, 62, 117, 148, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 RTEXT "Audio:", 3288, 12, 79, 38, 8
 COMBOBOX 3005, 53, 77, 117, 179, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 RTEXT "Titulky:", 3289, 12, 94, 38, 8
 COMBOBOX 3006, 53, 92, 117, 172, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 COMBOBOX 3008, 53, 108, 117, 172, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Navigace:", 3290, 12, 110, 38, 8
}
