335 DIALOGEX 0, 0, 223, 130, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 COMBOBOX 3243, 74, 27, 124, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3244, 25, 61, 173, 39, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
 RTEXT "Dùvod hlášení:", 3285, 6, 27, 64, 12, SS_CENTERIMAGE
 LTEXT "Obsah hlášení:", 3286, 25, 47, 49, 8
}
