338 DIALOGEX 0, 0, 240, 206, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Složka pro zachytávání", 3285, 14, 24, 211, 28
 EDITTEXT 3069, 19, 35, 181, 12, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "...", 3021, 203, 35, 17, 11
 GROUPBOX "Formát zachytávání", 3286, 14, 56, 211, 30
 RTEXT "Formát:", 3287, 21, 69, 44, 8
 COMBOBOX 3003, 68, 67, 52, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Kvalita:", 3288, 125, 69, 34, 8
 COMBOBOX 3005, 162, 67, 58, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Informace", 3289, 14, 90, 211, 76
 PUSHBUTTON "Otevøít složku pro zachytávání", 3024, 9, 178, 75, 12
 RTEXT "Název souboru:", 3290, 21, 103, 36, 8
 RTEXT "Vzorkovací frek.:", 3291, 21, 121, 49, 8
 RTEXT "Kanál è.:", 3293, 21, 131, 48, 8
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 17, 115, 205, 1
 RTEXT "Velikost nahrávky:", 3292, 113, 121, 49, 8
 RTEXT "Uplynulý èas:", 3294, 113, 131, 49, 8
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 17, 143, 205, 1
 PUSHBUTTON "Start", 3027, 177, 148, 42, 12
 AUTOCHECKBOX "Automaticky spustit nahrávání pøi spuštìní pøehrávání", 3034, 18, 150, 155, 10
 LTEXT "44100", 3382, 75, 121, 32, 8
 LTEXT "2 kanály", 3383, 75, 131, 32, 8
 LTEXT "44100 Kb", 3384, 167, 121, 52, 8
 LTEXT "00:00:00", 3385, 167, 131, 52, 8
 EDITTEXT 3077, 60, 102, 158, 12, ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER, WS_EX_TRANSPARENT
}
