346 DIALOGEX 0, 0, 242, 262, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Pøeskakované pøehrávání", 3285, 14, 23, 213, 209
 LTEXT "Zde mùžete nastavit intervaly pro pøeskoèení pøehrávání.", 3291, 22, 36, 201, 13
 AUTOCHECKBOX "Povolit pøeskoèení", 3034, 23, 53, 118, 10
 AUTOCHECKBOX "Úvod (na zaèátku)", 3040, 31, 68, 92, 10
 RTEXT "Pøeskoèit", 3287, 124, 69, 32, 8
 EDITTEXT 3088, 158, 66, 37, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 199, 64, 10, 14
 LTEXT "sek.", 3289, 197, 68, 25, 8
 AUTOCHECKBOX "Závìr (na konci)", 3044, 31, 83, 92, 10
 RTEXT "Pøeskoèit", 3288, 124, 86, 32, 8
 EDITTEXT 3095, 158, 83, 37, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 199, 82, 10, 14
 LTEXT "sek.", 3290, 197, 85, 25, 8
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 18, 100, 207, 1
 CONTROL "", 3242, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000880D, 21, 106, 200, 105
 PUSHBUTTON "Pøidat", 3024, 101, 215, 38, 12
 PUSHBUTTON "Upravit", 3025, 142, 215, 38, 12
 PUSHBUTTON "Smazat", 3026, 183, 215, 38, 12
}

