349 DIALOGEX 0, 0, 263, 184, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 LTEXT "", 3383, 66, 21, 184, 36
 CONTROL "", 3204, "STATIC", SS_ETCHEDHORZ, 10, 62, 247, 1
 RTEXT "ID (&I):", 3381, 59, 95, 40, 12, SS_CENTERIMAGE
 EDITTEXT 3007, 101, 96, 54, 12, ES_AUTOHSCROLL
 RTEXT "Heslo (&P):", 3382, 46, 112, 53, 12, SS_CENTERIMAGE
 EDITTEXT 3023, 101, 112, 54, 12, ES_PASSWORD | ES_AUTOHSCROLL
 CONTROL "Pøihlásit", 1, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 161, 112, 37, 12
 AUTOCHECKBOX "Zabezpeèení IP", 3034, 161, 98, 57, 8
 AUTOCHECKBOX "Uložit ID / Heslo", 3047, 101, 129, 114, 8
 AUTOCHECKBOX "Pøihlásit automaticky po spuštìní", 3048, 101, 142, 114, 8
 PUSHBUTTON "Pøihlášení uživatele", 3038, 54, 170, 64, 12
 PUSHBUTTON "Najít ID uživatele / Heslo", 3042, 121, 170, 85, 12
}
