351 DIALOGEX 0, 0, 387, 236, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Seznam kodekù", 3384, 12, 23, 137, 185
 CONTROL "", 3242, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00004809, 17, 33, 127, 170
 GROUPBOX "Source/Splitter", 3383, 154, 23, 63, 149
 AUTOCHECKBOX "AVI", 3151, 159, 34, 52, 10, WS_DISABLED
 AUTOCHECKBOX "ASF", 3152, 159, 44, 52, 10, WS_DISABLED
 AUTOCHECKBOX "MKV", 3156, 159, 54, 52, 10, WS_DISABLED
 AUTOCHECKBOX "MPEG1", 3113, 159, 64, 52, 10, WS_DISABLED
 AUTOCHECKBOX "MPEG2 PS", 3119, 159, 74, 52, 10, WS_DISABLED
 AUTOCHECKBOX "MPEG2 TS", 3123, 159, 84, 52, 10, WS_DISABLED
 AUTOCHECKBOX "MP4/QT", 3128, 159, 94, 52, 10, WS_DISABLED
 AUTOCHECKBOX "OGG/OGM", 3132, 159, 104, 52, 10, WS_DISABLED
 AUTOCHECKBOX "MP3", 3137, 159, 114, 52, 10, WS_DISABLED
 AUTOCHECKBOX "FLAC", 3138, 159, 124, 52, 10, WS_DISABLED
 AUTOCHECKBOX "FLV", 3139, 159, 134, 52, 10, WS_DISABLED
 GROUPBOX "Dekodér videa", 3382, 223, 23, 63, 149
 AUTOCHECKBOX "MPEG1", 3072, 229, 34, 50, 10, WS_DISABLED
 AUTOCHECKBOX "MPEG2", 3078, 229, 44, 50, 10, WS_DISABLED
 AUTOCHECKBOX "XVID", 3083, 229, 54, 50, 10, WS_DISABLED
 AUTOCHECKBOX "DIVX", 3089, 229, 64, 50, 10, WS_DISABLED
 AUTOCHECKBOX "H264", 3094, 229, 74, 50, 10, WS_DISABLED
 AUTOCHECKBOX "AVC1", 3097, 229, 84, 50, 10, WS_DISABLED
 AUTOCHECKBOX "VC1", 3104, 229, 94, 50, 10, WS_DISABLED
 AUTOCHECKBOX "WMV1", 3142, 229, 104, 50, 10, WS_DISABLED
 AUTOCHECKBOX "WMV2", 3145, 229, 114, 50, 10, WS_DISABLED
 AUTOCHECKBOX "WMV3", 3149, 229, 124, 50, 10, WS_DISABLED
 GROUPBOX "Dekodér audia", 3381, 291, 23, 85, 149
 AUTOCHECKBOX "MP3", 3034, 297, 34, 74, 10, WS_DISABLED
 AUTOCHECKBOX "MPEG1", 3040, 297, 44, 74, 10, WS_DISABLED
 AUTOCHECKBOX "MPEG2", 3044, 297, 54, 74, 10, WS_DISABLED
 AUTOCHECKBOX "AC3", 3047, 297, 64, 74, 10, WS_DISABLED
 AUTOCHECKBOX "DTS", 3052, 297, 74, 74, 10, WS_DISABLED
 AUTOCHECKBOX "LPCM", 3057, 297, 84, 74, 10, WS_DISABLED
 AUTOCHECKBOX "AAC", 3061, 297, 94, 74, 10, WS_DISABLED
 AUTOCHECKBOX "VORBIS", 3066, 297, 104, 74, 10, WS_DISABLED
 AUTOCHECKBOX "WMA V1", 3332, 297, 114, 74, 10, WS_DISABLED
 AUTOCHECKBOX "WMA V2", 3333, 297, 125, 74, 10, WS_DISABLED
 AUTOCHECKBOX "WMA PRO", 3167, 297, 135, 74, 10, WS_DISABLED
 AUTOCHECKBOX "WMA LOSSLESS", 3331, 297, 145, 74, 10, WS_DISABLED
 AUTOCHECKBOX "FLAC", 3334, 297, 155, 74, 10, WS_DISABLED
 PUSHBUTTON "Pøidat externí filtr", 3031, 155, 177, 70, 12
 PUSHBUTTON "Skenovat", 3024, 230, 177, 70, 12
 PUSHBUTTON "Pøidat registrovaný filtr", 3021, 304, 177, 70, 12
 PUSHBUTTON "Smazat", 3033, 155, 192, 70, 12
 PUSHBUTTON "Informace o filtru", 3109, 230, 192, 70, 12
}
