353 DIALOGEX 0, 0, 284, 221, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení titulkù", 3285, 5, 3, 273, 146
 RTEXT "Výstup titulkù:", 3314, 8, 14, 77, 8
 COMBOBOX 3003, 88, 12, 185, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vykreslování písma:", 3316, 8, 29, 77, 8
 COMBOBOX 3005, 88, 27, 185, 74, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Styl titulkù ASS/SSA:", 3318, 8, 44, 77, 8
 COMBOBOX 3008, 88, 42, 185, 74, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Ignorovat HTML tagy:", 3319, 8, 58, 77, 8
 AUTOCHECKBOX "Absolutní velikost", 3041, 89, 57, 62, 10
 AUTOCHECKBOX "Relativní velikost", 3042, 154, 57, 62, 10
 AUTOCHECKBOX "Øez písma", 3043, 219, 57, 55, 10
 AUTOCHECKBOX "Barva písma", 3044, 89, 69, 62, 10
 AUTOCHECKBOX "Všechny písma", 3045, 154, 69, 62, 10
 AUTOCHECKBOX "Všechny styly", 3046, 219, 69, 55, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 82, 268, 1
 AUTOCHECKBOX "Zobrazit titulky", 3040, 9, 86, 131, 10
 AUTOCHECKBOX "Vyhlazovat titulky ve VMR/EVR", 3119, 9, 96, 131, 10
 AUTOCHECKBOX "Opravit pomìr stran obrázkových titulkù", 3066, 9, 106, 131, 10
 AUTOCHECKBOX "Naèíst jakékoli když se jiné neshodují", 3067, 9, 116, 131, 10
 AUTOCHECKBOX "Vynutit zarovnání vlevo", 3124, 9, 126, 131, 10
 AUTOCHECKBOX "Pøidat nový øádek pokud má tit. jen 1", 3126, 9, 136, 131, 10
 AUTOCHECKBOX "Zobrazit bitmapové titulky mimo video", 3059, 142, 86, 134, 10
 AUTOCHECKBOX "Zobrazit textové titulky uvnitø videa", 3057, 142, 96, 134, 10
 AUTOCHECKBOX "Zobrazit titulky pod videem (pokud lze)", 3113, 142, 106, 135, 10
 AUTOCHECKBOX "Použít vlastní pozici pro IDX/SUB", 3123, 142, 116, 129, 10
 AUTOCHECKBOX "Auto. pøidat <BR> tag do titulkù SMI", 3047, 142, 126, 129, 10
 AUTOCHECKBOX "Ignorovat tag <BR> v titulcích SMI", 3048, 142, 136, 129, 10
 GROUPBOX "Nastavení textur", 3286, 5, 154, 273, 57
 RTEXT "Maximální rozlišení:", 3315, 8, 167, 54, 8
 COMBOBOX 3004, 65, 165, 87, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Obrázkù v pamìti:", 3287, 154, 167, 74, 8
 EDITTEXT 3088, 230, 165, 39, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 265, 166, 10, 14
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 182, 268, 1
 AUTOCHECKBOX "Povolit animace titulkù ASS/SSA", 3053, 9, 186, 251, 10
 AUTOCHECKBOX "Zaokrouhlit nahoru na mocninu dvou", 3058, 9, 196, 128, 10
}
