354 DIALOGEX 0, 0, 283, 203, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Obecné nastavení", 3285, 5, 3, 273, 170
 RTEXT "Navrchu:", 3286, 11, 15, 72, 8
 COMBOBOX 3003, 85, 13, 187, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Navrchu v režimu na celou obrazovku", 3125, 85, 27, 185, 10
 RTEXT "Otevírání souborù:", 3288, 11, 42, 72, 8
 COMBOBOX 3005, 85, 40, 187, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Ikona v lištì:", 3290, 11, 57, 72, 8
 COMBOBOX 3008, 85, 55, 186, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Kontrola aktualizací:", 3291, 11, 72, 72, 8
 COMBOBOX 3010, 85, 70, 186, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vícenásobné spuštìní:", 3293, 11, 87, 72, 8
 COMBOBOX 3011, 85, 85, 186, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 101, 269, 3
 AUTOCHECKBOX "Pevná pozice okna pøi minimalizaci", 3129, 11, 105, 138, 10
 AUTOCHECKBOX "Zobrazovat popisky", 3072, 151, 105, 123, 10
 AUTOCHECKBOX "Skrýt všechna okna pøi minimalizaci", 3094, 11, 116, 138, 10
 AUTOCHECKBOX "Pøichytávat k okrajùm/oknu", 3073, 151, 116, 123, 10
 AUTOCHECKBOX "Pozastavit pøehrávání pøi minimalizaci", 3110, 11, 127, 138, 10
 AUTOCHECKBOX "Ukládat nastavení do .ini souboru", 3083, 151, 127, 123, 10
 AUTOCHECKBOX "Mìnit velikost okna od støedu", 3126, 11, 137, 138, 10
 AUTOCHECKBOX "Použít funkce hl. panelu (ve Win7/8)", 3336, 151, 138, 123, 10
 AUTOCHECKBOX "Zobrazit poslední soubory v oblíbených", 3127, 11, 148, 138, 10
 AUTOCHECKBOX "Výchozí velikost pøi zavøení souboru", 3123, 151, 149, 123, 10
 AUTOCHECKBOX "Použít rolování v kontextové nabídce", 3337, 11, 159, 138, 10
}
