358 DIALOGEX 0, 0, 284, 218, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení pøehrávání", 3285, 5, 3, 273, 155
 RTEXT "Velikost obrazu:", 3286, 9, 15, 60, 8
 COMBOBOX 3005, 72, 13, 110, 77, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3273, 186, 13, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3259, "msctls_updown32", 0x000000B6, 219, 19, 10, 12
 LTEXT "x", 3292, 228, 14, 8, 8
 EDITTEXT 3275, 237, 13, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3261, "msctls_updown32", 0x000000B6, 268, 19, 10, 12
 AUTOCHECKBOX "Umístit okno na støed obrazovky pøi spuštìní pøehrávání videa", 3084, 73, 27, 205, 10
 RTEXT "Priorita procesu:", 3287, 9, 42, 60, 8
 COMBOBOX 3006, 72, 40, 201, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Režim rychlosti audia:", 3236, 7, 58, 63, 8
 COMBOBOX 3014, 72, 56, 201, 116, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Opakování:", 3237, 9, 74, 60, 8
 COMBOBOX 3015, 72, 72, 201, 116, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 89, 268, 3
 AUTOCHECKBOX "Otevírat soubor v jiném vláknì", 3094, 11, 94, 136, 10
 AUTOCHECKBOX "Automat. naèíst externí audio soubory", 3110, 11, 104, 136, 10
 AUTOCHECKBOX "Naèíst pøedch./další soubory ve složce", 3068, 11, 114, 136, 10
 AUTOCHECKBOX "Pøi chybì zaèít pøehrávat další soubor", 3064, 11, 124, 136, 10
 AUTOCHECKBOX "Automaticky pøehrát/pozastavit", 3065, 11, 134, 136, 10
 AUTOCHECKBOX "Použít vestavìné info o otoèení", 3067, 11, 144, 136, 10
 AUTOCHECKBOX "Zabránit spuštìní spoøièe obrazovky", 3083, 149, 94, 115, 10
 AUTOCHECKBOX "Skrýt kurzor myši bìhem pøehrávání", 3089, 149, 104, 126, 10
 AUTOCHECKBOX "Pamatovat si pozici pøehrávání", 3061, 149, 114, 115, 10
 AUTOCHECKBOX "Náhodné pøehrávání", 3113, 149, 124, 115, 10
 AUTOCHECKBOX "Automaticky zavøít soubor po dokonèení", 3124, 149, 134, 126, 10
 GROUPBOX "Na navigaèním øádku (ukazatel prùbìhu)", 3288, 5, 162, 273, 43
 AUTOCHECKBOX "Zobrazit náhledy", 3066, 11, 171, 136, 10
 AUTOCHECKBOX "Zarovnat navrch záložky/kapitoly", 3069, 19, 181, 128, 10
 AUTOCHECKBOX "Zobrazit informaci o èase v náhledu", 3070, 19, 191, 128, 10
 AUTOCHECKBOX "Zobrazit znaèky záložek/kapitol", 3063, 149, 171, 126, 10
 AUTOCHECKBOX "Zobrazit popisek s informací o èase", 3062, 149, 181, 123, 10
}
