358 DIALOGEX 0, 0, 284, 221, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení pøehrávání", 3285, 5, 3, 273, 144
 RTEXT "Velikost obrazu:", 3286, 11, 15, 59, 8
 COMBOBOX 3005, 72, 13, 110, 77, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3273, 186, 13, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3259, "msctls_updown32", 0x000000B6, 219, 19, 10, 12
 LTEXT "x", 3292, 228, 14, 8, 8
 EDITTEXT 3275, 237, 13, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3261, "msctls_updown32", 0x000000B6, 268, 19, 10, 12
 AUTOCHECKBOX "Umístit okno na støed obrazovky pøi spuštìní pøehrávání videa", 3084, 73, 27, 205, 10
 RTEXT "Priorita:", 3287, 11, 42, 59, 8
 COMBOBOX 3006, 72, 40, 201, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Ovládání rychlosti:", 3236, 11, 58, 59, 8
 COMBOBOX 3014, 72, 56, 201, 116, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Opakování:", 3237, 11, 74, 59, 8
 COMBOBOX 3015, 72, 72, 201, 116, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 89, 268, 3
 AUTOCHECKBOX "Zabránit spuštìní spoøièe obrazovky", 3083, 11, 94, 129, 10
 AUTOCHECKBOX "Skrýt kurzor myši bìhem pøehrávání", 3089, 145, 94, 127, 10
 AUTOCHECKBOX "Otevírat soubor v jiném vláknì", 3094, 11, 104, 129, 10
 AUTOCHECKBOX "Automaticky naèíst externí audio", 3110, 145, 104, 127, 10
 AUTOCHECKBOX "Pøehrávat od poslední pozice", 3061, 11, 114, 129, 10
 AUTOCHECKBOX "Náhodné pøehrávání", 3113, 145, 115, 127, 10
 AUTOCHECKBOX "Zobrazit popisek s informací o èase", 3062, 11, 125, 129, 10
 AUTOCHECKBOX "Zobrazit záložky v navigaèním panelu", 3063, 145, 125, 127, 10
 AUTOCHECKBOX "Pøi chybì zaèít pøehrávat další soubor", 3064, 11, 135, 133, 10
 GROUPBOX "Nastavení režimu celé obrazovky", 3288, 5, 151, 272, 54
 RTEXT "Monitor:", 3289, 8, 162, 62, 8
 COMBOBOX 3008, 72, 160, 201, 205, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Zobrazení na celou obrazovku ve zvláštním oknì", 3101, 72, 175, 201, 10
 COMBOBOX 3010, 72, 188, 201, 206, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Rozlišení:", 3290, 11, 190, 59, 8
}
