362 DIALOGEX 0, 0, 284, 219, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení vestavìného filtru pro zpracování videa", 3313, 5, 3, 273, 134
 LTEXT "Žádné zpracování videa nebude fungovat bez vestavìného filtru PotPlayeru. Vypnìte jej pro vysoké rozlišení.", 3194, 12, 15, 251, 22
 RTEXT "Podmínka:", 3208, 17, 42, 44, 8
 COMBOBOX 3005, 65, 40, 207, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "FourCC", 3041, 12, 59, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3069, 118, 58, 153, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Pøípona", 3042, 12, 75, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3070, 118, 74, 153, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Snímkù za sekundu", 3043, 12, 91, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3267, 119, 90, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 145, 95, 10, 12
 AUTOCHECKBOX "Rozlišení", 3045, 12, 107, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3268, 119, 106, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3256, "msctls_updown32", 0x000000B6, 143, 112, 10, 12
 CTEXT "X", 3197, 165, 107, 8, 10
 EDITTEXT 3269, 177, 106, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3257, "msctls_updown32", 0x000000B6, 210, 115, 10, 12
 COMBOBOX 3006, 225, 106, 45, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Pokud nejsou žádné titulky", 3046, 12, 121, 102, 10, BS_TOP | BS_MULTILINE
 GROUPBOX "Nastavení vestavìného filtru pro zpracování audia", 3314, 5, 141, 273, 57
 LTEXT "Žádný z audio filtrù nebo zvukových efektù nebude fungovat bez vestaveného filtru PotPlayeru. Je doporuèeno jej použít.", 3195, 12, 152, 251, 22
 AUTOCHECKBOX "Použít filtr pro zpracování audia (doporuèeno)", 3044, 12, 172, 259, 10, BS_TOP | BS_MULTILINE
 AUTOCHECKBOX "Použít filtr pro zpracování audia s podporou zmìny streamu", 3047, 12, 183, 259, 10, BS_TOP | BS_MULTILINE
}
