362 DIALOGEX 0, 0, 284, 230, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Informace", 3315, 5, 4, 273, 56
 LTEXT "Zde mùžete zakázat nebo povolit vestavìné filtry pro zpracování videa/audia. Následující výrazy a podmínky pro použití externích kodekù a nekomprimovaných (raw) formátù dávají smysl pouze pro pøehrávání. Také je nutné, pokud zde není žádný konkrétní problém, vždy používat vestavìné filtry pro zpracování videa/audia pøi použití rùzných funkcí jako je zachytávání.", 3196, 10, 13, 263, 41
 GROUPBOX "Nastavení vestavìného filtru pro zpracování videa", 3313, 5, 61, 273, 115
 RTEXT "Podmínka:", 3208, 17, 74, 44, 8
 COMBOBOX 3005, 65, 72, 207, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Fourcc", 3041, 12, 89, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3069, 118, 88, 153, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Pøípona", 3042, 12, 105, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3070, 118, 104, 153, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Snímkù za sekundu", 3043, 12, 121, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3267, 119, 120, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 145, 125, 10, 12
 AUTOCHECKBOX "Rozlišení", 3045, 12, 137, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3268, 119, 136, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3256, "msctls_updown32", 0x000000B6, 143, 142, 10, 12
 CTEXT "X", 3197, 165, 137, 8, 10
 EDITTEXT 3269, 177, 136, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3257, "msctls_updown32", 0x000000B6, 210, 145, 10, 12
 COMBOBOX 3006, 225, 136, 45, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Pokud neexistují žádné titulky", 3046, 12, 151, 102, 10, BS_TOP | BS_MULTILINE
 AUTOCHECKBOX "Použít vestavìný pøepínaè video streamù", 3048, 12, 163, 259, 10, BS_TOP | BS_MULTILINE
 GROUPBOX "Nastavení vestavìného filtru pro zpracování audia", 3314, 5, 181, 273, 35
 AUTOCHECKBOX "Použít vestavìný filtr pro zpracování audia (doporuèeno)", 3044, 12, 192, 259, 10, BS_TOP | BS_MULTILINE
 AUTOCHECKBOX "Použít vestavìný pøepínaè audio streamù", 3047, 12, 203, 259, 10, BS_TOP | BS_MULTILINE
}
