364 DIALOGEX 0, 0, 286, 142, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení èasových skokù", 3311, 5, 3, 273, 131
 LTEXT "Zde mùžete nastavit intervaly èasových skokù a krok snímkù.", 3191, 13, 14, 262, 11
 RTEXT "Šipka Vlevo/Vpravo:", 3381, 9, 32, 157, 8
 EDITTEXT 3267, 170, 30, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 203, 30, 10, 12
 LTEXT "sek.", 3194, 209, 32, 17, 8
 RTEXT "Ctrl + Vlevo/Vpravo:", 3382, 9, 47, 157, 8
 EDITTEXT 3270, 170, 46, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3256, "msctls_updown32", 0x000000B6, 203, 46, 10, 12
 LTEXT "sek.", 3197, 209, 47, 17, 8
 RTEXT "Shift + Vlevo/Vpravo:", 3383, 9, 64, 157, 8
 EDITTEXT 3271, 170, 62, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3257, "msctls_updown32", 0x000000B6, 203, 62, 10, 12
 LTEXT "sek.", 3402, 209, 64, 17, 8
 RTEXT "Ctrl + Alt + Vlevo/Vpravo:", 3384, 9, 79, 157, 8
 EDITTEXT 3272, 170, 78, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3258, "msctls_updown32", 0x000000B6, 203, 78, 10, 12
 LTEXT "sek.", 3202, 209, 79, 17, 8
 PUSHBUTTON "Výchozí", 3021, 229, 30, 43, 12
 PUSHBUTTON "Výchozí", 3024, 229, 46, 43, 12
 PUSHBUTTON "Výchozí", 3027, 229, 62, 43, 12
 PUSHBUTTON "Výchozí", 3029, 229, 78, 43, 12
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 95, 268, 2
 AUTOCHECKBOX "Pøesun po klíèových snímcích", 3034, 19, 102, 256, 10
 LTEXT "Pøi použití klíèových snímkù je èasový pøesun velmi rychlý, ale není možné se pøesunout o pøesný interval.", 3204, 30, 114, 242, 17
}
