368 DIALOGEX 0, 0, 284, 226, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení složek", 3381, 5, 3, 273, 204
 LTEXT "PotPlayer bude hledat shodující se titulky nejdøíve v uživatelem definovaných složkách.", 3383, 11, 14, 263, 9
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x000010A0, 10, 27, 219, 165
 AUTOCHECKBOX "Hledat titulky nejdøíve ve složkách uvedených výše", 3034, 10, 194, 218, 10
 PUSHBUTTON "Pøidat", 3021, 233, 27, 40, 12
 PUSHBUTTON "Smazat", 3024, 233, 41, 40, 12
 PUSHBUTTON "Nahoru", 3022, 233, 55, 40, 12
 PUSHBUTTON "Dolù", 3025, 233, 69, 40, 12
}
