369 DIALOGEX 0, 0, 285, 191, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení ovládání rozlišení", 3285, 5, 3, 273, 177
 RTEXT "Podmínka:", 3286, 9, 15, 68, 8
 COMBOBOX 3003, 81, 13, 149, 94, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Obnovit", 3029, 234, 13, 39, 12
 RTEXT "Kvalita:", 3289, 9, 33, 68, 8
 COMBOBOX 3005, 81, 30, 191, 114, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Násobit (%d /%d):", 3290, 9, 47, 68, 8
 CONTROL "", 3234, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 81, 47, 149, 10
 PUSHBUTTON "Výchozí", 3027, 234, 46, 39, 12
 RTEXT "Pomìr:", 3292, 9, 63, 68, 8
 COMBOBOX 3016, 81, 61, 191, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Úroveò (%d%%):", 3293, 9, 78, 68, 8
 CONTROL "", 3344, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 81, 78, 149, 10
 PUSHBUTTON "Default", 3345, 234, 77, 39, 12
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 94, 270, 1
 RTEXT "Podmínka:", 3187, 9, 101, 70, 8
 EDITTEXT 3267, 83, 100, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 108, 107, 11, 12
 CTEXT "X", 3287, 127, 102, 8, 8
 EDITTEXT 3271, 137, 100, 43, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3256, "msctls_updown32", 0x000000B6, 167, 107, 11, 12
 PUSHBUTTON "Pøedvolba", 3021, 183, 100, 36, 12
 AUTORADIOBUTTON "Vynásobit:", 3178, 12, 117, 69, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Zvolit rozlišení:", 3183, 12, 133, 69, 10, NOT WS_TABSTOP
 EDITTEXT 3272, 83, 116, 42, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3257, "msctls_updown32", 0x000000B6, 120, 117, 11, 12
 LTEXT "krát", 3185, 128, 118, 24, 8
 EDITTEXT 3273, 83, 132, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3259, "msctls_updown32", 0x000000B6, 107, 136, 11, 12
 CTEXT "X", 3288, 127, 134, 8, 8
 EDITTEXT 3275, 137, 132, 43, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3261, "msctls_updown32", 0x000000B6, 167, 136, 11, 12
 PUSHBUTTON "Pøedvolba", 3024, 183, 132, 36, 12
 AUTOCHECKBOX "Automaticky vypoèítat vertikální velikost", 3097, 84, 148, 145, 10
 RTEXT "Zpracování prokládání:", 3291, 9, 163, 70, 8
 COMBOBOX 3013, 81, 161, 191, 82, CBS_DROPDOWNLIST | WS_VSCROLL
}
