377 DIALOGEX 0, 0, 286, 238, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Správa konfigurací", 3292, 5, -1, 273, 235
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x00001028, 12, 14, 153, 56
 PUSHBUTTON "Pøidat novou", 3021, 170, 14, 50, 12
 PUSHBUTTON "Pøidat aktuální", 3024, 223, 14, 50, 12
 PUSHBUTTON "Aktivovat vybranou pøedvolbu", 3121, 170, 28, 103, 12
 PUSHBUTTON "Nahoru", 3029, 170, 43, 50, 12
 PUSHBUTTON "Dolù", 3033, 223, 43, 50, 12
 PUSHBUTTON "Smazat", 3031, 170, 58, 50, 12
 PUSHBUTTON "Pøejmenovat", 3027, 223, 58, 50, 12
 AUTOCHECKBOX "Znovu otevøít aktuální soubor po ruèním pøepnutí pøedvolby", 3034, 12, 71, 251, 10
 AUTOCHECKBOX "Pøi pøepnutí pøedvolby ji zkopírovat do aktuální pøedvolby", 3040, 12, 80, 251, 11
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 92, 270, 4
 LTEXT "Pøepnout automaticky za následujících podmínek.", 3381, 20, 90, 170, 8
 AUTO3STATE "Název souboru", 3044, 19, 99, 67, 10
 EDITTEXT 3069, 92, 98, 146, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Informace", 3048, 241, 98, 32, 12
 LTEXT "Spuštìní pøehrávání souboru mùže trvat o nìco déla pøi použití následujících podmínek.", 3382, 11, 110, 262, 9
 AUTO3STATE "Velikost obrazovky", 3052, 19, 122, 67, 10
 EDITTEXT 3088, 92, 121, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 109, 125, 10, 14
 LTEXT "X", -1, 131, 123, 8, 8
 EDITTEXT 3095, 139, 121, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 151, 124, 10, 14
 COMBOBOX 3003, 178, 121, 45, 30, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 COMBOBOX 3005, 228, 121, 45, 30, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 AUTO3STATE "Typ videa", 3057, 19, 138, 67, 10
 EDITTEXT 3077, 92, 137, 146, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Informace", 3371, 241, 137, 32, 12
 AUTO3STATE "Snímkù za sekundu", 3066, 19, 154, 67, 10
 EDITTEXT 3099, 92, 153, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 109, 156, 10, 14
 COMBOBOX 3006, 131, 153, 41, 30, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 AUTO3STATE "Tag audia", 3110, 19, 169, 67, 10
 EDITTEXT 3116, 92, 168, 146, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Informace", 3320, 241, 168, 32, 12
 AUTO3STATE "Vzorkù audia", 3123, 19, 184, 67, 10
 EDITTEXT 3321, 92, 183, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3266, "msctls_updown32", 0x000000B6, 109, 186, 10, 14
 COMBOBOX 3008, 131, 183, 41, 30, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 AUTO3STATE "Kanálù audia", 3132, 19, 199, 67, 10
 EDITTEXT 3322, 92, 198, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3268, "msctls_updown32", 0x000000B6, 109, 200, 10, 14
 COMBOBOX 3010, 131, 198, 41, 30, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 AUTOCHECKBOX "Pøi pøehrávání audia", 3124, 186, 186, 84, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 212, 268, 1
 AUTOCHECKBOX "Pøepnout zpìt na pøedchozí pøedvolbu po zavøení souboru", 3083, 12, 213, 251, 10
 AUTOCHECKBOX "Spustit PotPlayer s výchozí pøedvolbou", 3104, 12, 222, 251, 10
}
