378 DIALOGEX 0, 0, 283, 238, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Logo (pøi zastaveném pøehrávání)", 3193, 5, 2, 273, 87
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x00001020, 11, 13, 261, 71
 GROUPBOX "Logo (pøi spuštìném pøehrávání)", 3192, 5, 92, 273, 87
 CONTROL "", 3317, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x00001020, 11, 103, 261, 71
 GROUPBOX "Nastavení loga", 3191, 5, 183, 273, 43
 RTEXT "Zobrazení:", 3189, 13, 195, 46, 10
 COMBOBOX 3005, 63, 193, 136, 157, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Otevøít složku", 3021, 203, 193, 71, 12
 AUTOCHECKBOX "Zvolit náhodnì", 3061, 63, 210, 134, 10
 PUSHBUTTON "Obnovit", 3027, 203, 208, 71, 12
}
