378 DIALOGEX 0, 0, 283, 128, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení loga", 3191, 5, 3, 273, 118
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x00001020, 11, 13, 261, 71
 RTEXT "Zobrazit:", 3189, 13, 91, 46, 10
 COMBOBOX 3005, 63, 89, 136, 157, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Otevøít složku", 3021, 203, 89, 71, 12
 AUTOCHECKBOX "Zvolit náhodnì", 3061, 63, 106, 134, 10
 PUSHBUTTON "Najít loga", 3027, 203, 104, 71, 12
}
