381 DIALOGEX 0, 0, 284, 151, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "BDA (HDTV) zaøízení", 3285, 5, 3, 273, 85, 0, WS_EX_TRANSPARENT
 RTEXT "Zaøízení:", 3286, 9, 15, 72, 8
 COMBOBOX 3003, 85, 13, 187, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Použít výchozí ladìní Microsoftu", 3034, 85, 27, 186, 10
 AUTOCHECKBOX "Použít nový mód pøipojení", 3035, 85, 39, 186, 10
 RTEXT "Demuxer:", 3287, 9, 54, 72, 8
 COMBOBOX 3005, 85, 52, 187, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "CLSID:", 3292, 9, 71, 72, 8
 EDITTEXT 3070, 85, 69, 187, 12, ES_AUTOHSCROLL
 GROUPBOX "Povolit èasový posun", 3288, 5, 91, 273, 41, 0, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Povolit èasový posun", 3040, 12, 102, 261, 10
 RTEXT "Èas:", 3290, 11, 116, 39, 8
 CONTROL "", 3084, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 51, 116, 164, 10
 EDITTEXT 3267, 216, 114, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 241, 120, 11, 12
 LTEXT "min.", 3289, 254, 116, 19, 10
}
