382 DIALOGEX 0, 0, 284, 247, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení DVD", 3291, 5, 3, 273, 175, 0, WS_EX_TRANSPARENT
 RTEXT "Umístìní:", 3297, 13, 14, 69, 8
 COMBOBOX 3007, 85, 12, 187, 148, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vlastní umístìní:", 3298, 12, 31, 69, 8
 EDITTEXT 3069, 85, 28, 173, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 3021, 261, 28, 12, 12
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 44, 268, 1
 RTEXT "Jazyk menu:", 3287, 13, 51, 69, 8
 COMBOBOX 3003, 85, 49, 187, 148, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 RTEXT "Jazyk audia:", 3288, 13, 66, 69, 8
 COMBOBOX 3005, 85, 64, 187, 179, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 RTEXT "Jazyk titulkù:", 3289, 13, 81, 69, 8
 COMBOBOX 3006, 85, 79, 187, 172, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 AUTOCHECKBOX "Zobrazit DVD titulky", 3034, 86, 94, 176, 10
 RTEXT "Navigátor:", 3290, 13, 108, 69, 8
 COMBOBOX 3008, 85, 106, 187, 172, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "CLSID:", 3292, 13, 124, 69, 8
 EDITTEXT 3070, 85, 122, 187, 12, ES_AUTOHSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 139, 268, 1
 RTEXT "Automaticky navázat:", 3299, 13, 146, 69, 8
 COMBOBOX 3009, 85, 144, 187, 172, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Automaticky pøeskoèit:", 3300, 13, 162, 69, 8
 COMBOBOX 3010, 85, 160, 187, 172, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Nastavení Blu-ray", 3294, 5, 182, 273, 43, 0, WS_EX_TRANSPARENT
 RTEXT "Metoda pøehrávání:", 3296, 13, 194, 69, 8
 COMBOBOX 3004, 85, 192, 187, 148, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Zpracovat min.kapitolu:", 3295, 7, 210, 69, 8
 EDITTEXT 3267, 85, 208, 45, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 168, 216, 11, 12
 LTEXT "sek.", 3293, 133, 210, 20, 10
}
