384 DIALOGEX 0, 0, 286, 215, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Barevný prostor", 3296, 5, 3, 273, 101
 LTEXT "Mùžete zvolit barevný prostor použitý pro výstup videa", 3297, 12, 13, 262, 10
 RTEXT "Výstupní bar. prostor:", 3306, 10, 26, 73, 10
 COMBOBOX 3100, 86, 25, 186, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "High Definition konverze YUY2/RGB24/32", 3138, 88, 41, 186, 9
 RTEXT "YCbCr <-> RGB prav.:", 3301, 10, 57, 73, 10
 COMBOBOX 3168, 87, 55, 186, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "YCbCr oblast zprac.:", 3302, 10, 72, 73, 10
 COMBOBOX 3176, 87, 70, 186, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "YCbCr -> RGB konv.:", 3304, 10, 87, 73, 10
 COMBOBOX 3180, 87, 85, 186, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Ovládání videa", 3289, 5, 107, 273, 92
 RTEXT "Jas:", 3308, 11, 119, 43, 10
 CONTROL "", 3045, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 56, 119, 140, 10
 EDITTEXT 3322, 199, 117, 36, 12, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "Výchozí", 3029, 238, 117, 35, 12
 RTEXT "Kontrast:", 3310, 11, 134, 43, 10
 CONTROL "", 3043, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 56, 134, 140, 10
 EDITTEXT 3346, 199, 131, 36, 12, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "Výchozí", 3027, 238, 131, 35, 12
 RTEXT "Sytost:", 3312, 11, 149, 43, 10
 CONTROL "", 3058, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 56, 148, 140, 10
 EDITTEXT 3347, 198, 146, 36, 12, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "Výchozí", 3033, 238, 146, 35, 12
 RTEXT "Barva:", 3314, 11, 162, 43, 10
 CONTROL "", 3053, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 56, 162, 140, 10
 EDITTEXT 3348, 198, 161, 36, 12, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "Výchozí", 3031, 238, 161, 35, 12
 AUTOCHECKBOX "Použít hardwarové (H/W) zpracování, pokud je to možné", 3083, 13, 184, 184, 10
 CONTROL "", 3237, "STATIC", SS_ETCHEDHORZ, 8, 179, 269, 2
}
