389 DIALOGEX 0, 0, 283, 233, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Barvy", 3381, 5, 3, 273, 42
 RTEXT "Neaktivní barva pozadí:", 3286, 12, 15, 64, 8
 CONTROL "", 3213, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 79, 12, 12, 12, WS_EX_DLGMODALFRAME
 RTEXT "Základní barva písma:", 3288, 95, 15, 64, 8
 CONTROL "", 3217, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 161, 12, 12, 12, WS_EX_DLGMODALFRAME
 RTEXT "Spodní barva:", 3291, 179, 15, 78, 8
 CONTROL "", 3233, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 260, 12, 12, 12, WS_EX_DLGMODALFRAME
 RTEXT "Aktivní barva pozadí:", 3289, 12, 30, 64, 8
 CONTROL "", 3225, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 79, 28, 12, 12, WS_EX_DLGMODALFRAME
 RTEXT "Candi. barva písma:", 3290, 95, 30, 64, 8
 CONTROL "", 3229, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 161, 28, 12, 12, WS_EX_DLGMODALFRAME
 RTEXT "Horní barva:", 3292, 179, 30, 78, 8
 CONTROL "", 3235, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 260, 28, 12, 12, WS_EX_DLGMODALFRAME
 GROUPBOX "Písmo/Velikost/Další nastavení", 3382, 5, 48, 273, 116
 RTEXT "Složka:", 3294, 10, 61, 37, 8
 EDITTEXT 3069, 50, 59, 205, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 3022, 259, 59, 15, 11
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 9, 75, 266, 3
 RTEXT "Písmo:", 3296, 10, 83, 49, 8
 PUSHBUTTON "Písmo", 3021, 62, 80, 117, 13
 RTEXT "Velikost písma:", 3293, 10, 97, 49, 8
 EDITTEXT 3088, 63, 95, 41, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 97, 102, 10, 14
 AUTOCHECKBOX "Tuèné", 3044, 109, 96, 70, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 9, 111, 266, 3
 RTEXT "Velikost okna:", 3287, 10, 119, 49, 8
 COMBOBOX 3005, 62, 117, 117, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3089, 186, 117, 41, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 220, 124, 10, 14
 LTEXT "%", 3297, 233, 119, 25, 8
 RTEXT "Prùhled.:", 3295, 10, 134, 49, 8
 COMBOBOX 3006, 62, 133, 117, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Doèasnì potlaèit vstup myši", 3040, 63, 149, 127, 10
 GROUPBOX "Additional Items", 3383, 5, 167, 273, 54
 AUTOCHECKBOX "Zobrazit pøehrát všechny soubory ve složce", 3041, 13, 176, 251, 10
 AUTOCHECKBOX "Zobrazit pøehrát všechny soubory ve složce - vèetnì podsložek", 3042, 13, 186, 251, 10
 AUTOCHECKBOX "Zobrazit playlist", 3043, 13, 196, 251, 10
 AUTOCHECKBOX "Zobrazit oblíbené", 3045, 13, 206, 251, 10
}
