391 DIALOGEX 0, 0, 242, 251, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Klávesová zkratka", 3381, 12, 20, 217, 221
 AUTOCHECKBOX "Globální klávesová zkratka (mùže být použita z jakéhokoliv prostøedí)", 3034, 17, 31, 208, 10
 RTEXT "Klávesová zkratka:", 3382, 17, 45, 38, 8
 CONTROL "", 3317, "msctls_hotkey32", WS_BORDER | WS_TABSTOP, 57, 43, 89, 13
 COMBOBOX 3003, 149, 43, 75, 71, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "", 3383, 17, 59, 205, 16
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x00000227, 17, 77, 206, 139
}
