395 DIALOGEX 0, 0, 203, 145, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Parametry WDM", 3292, 13, 21, 179, 94
 RTEXT "Zemì:", 3381, 22, 35, 43, 8
 COMBOBOX 3003, 67, 33, 120, 135, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Zemì:", 3382, 23, 51, 42, 8
 COMBOBOX 3005, 67, 49, 120, 136, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Tuner:", 3383, 23, 66, 42, 8
 COMBOBOX 3006, 67, 65, 120, 136, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Mód tuneru:", 3384, 18, 82, 47, 8
 COMBOBOX 3008, 67, 81, 120, 136, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Bez prokládání:", 3385, 15, 98, 50, 8
 COMBOBOX 3010, 67, 97, 120, 136, CBS_DROPDOWNLIST | WS_VSCROLL
}
