397 DIALOGEX 0, 0, 182, 134, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Zaøízení pro zachytávání videa", 3285, 4, 0, 170, 70, 0, WS_EX_TRANSPARENT
 RTEXT "Zaøízení:", 3286, 10, 12, 25, 8
 COMBOBOX 3003, 38, 10, 117, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "...", 3038, 158, 10, 11, 12
 RTEXT "Typ:", 3287, 10, 29, 25, 8
 COMBOBOX 3005, 38, 26, 58, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 3008, 99, 26, 70, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Audio:", 3290, 10, 43, 25, 8
 COMBOBOX 3006, 38, 41, 58, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Hledat", 3024, 99, 42, 69, 11
 AUTOCHECKBOX "Pøeskoèit na obrazovku sledování TV", 3035, 10, 56, 158, 10
 GROUPBOX "Zaøízení pro zachytávání audia", 3291, 4, 74, 170, 54, 0, WS_EX_TRANSPARENT
 RTEXT "Zaøízení:", 3292, 10, 86, 25, 8
 COMBOBOX 3016, 38, 85, 131, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vstup:", 3293, 10, 102, 25, 8
 COMBOBOX 3019, 38, 100, 78, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Pøipojený monitor k mému poèítaèi.", 3034, 14, 114, 154, 10
 PUSHBUTTON "Hlasitost", 3021, 119, 101, 49, 11
}
