405 DIALOGEX 0, 0, 200, 242, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Umístìní pro uložení", 3285, 14, 21, 172, 44, 0, WS_EX_TRANSPARENT
 EDITTEXT 3069, 19, 32, 145, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 3021, 166, 32, 15, 11
 RTEXT "Prefix názvu souboru:", 3294, 19, 50, 67, 8
 EDITTEXT 3095, 88, 48, 93, 12, ES_AUTOHSCROLL
 GROUPBOX "Nastavení uložení", 3286, 14, 68, 172, 60, 0, WS_EX_TRANSPARENT
 RTEXT "Formát souboru:", 3295, 19, 81, 50, 8
 COMBOBOX 3003, 73, 79, 108, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 17, 95, 167, 2
 AUTORADIOBUTTON "Konec pøi délce", 3209, 24, 99, 73, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Konec pøi velikosti", 3211, 104, 98, 73, 10, NOT WS_TABSTOP
 EDITTEXT 3077, 36, 111, 35, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3248, "msctls_updown32", 0x000000B6, 64, 114, 11, 12
 LTEXT "min.", 3287, 73, 113, 20, 8
 EDITTEXT 3088, 115, 111, 40, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3249, "msctls_updown32", 0x000000B6, 148, 115, 11, 12
 LTEXT "MB", 3288, 159, 113, 20, 8
 GROUPBOX "Info", 3289, 14, 131, 172, 80, 0, WS_EX_TRANSPARENT
 RTEXT "Název souboru:", 3290, 20, 142, 36, 8
 EDITTEXT 3082, 60, 142, 119, 12, ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 17, 155, 167, 2
 RTEXT "Délka záznamu:", 3291, 19, 163, 39, 8
 LTEXT "00:00:00", 3381, 63, 163, 36, 8
 RTEXT "Velikost záznamu:", 3292, 102, 163, 32, 8
 LTEXT "0 MB", 3382, 139, 163, 41, 8
 RTEXT "Zbývající kapacita disku:", 3293, 23, 176, 111, 8
 LTEXT "0 MB", 3383, 139, 176, 41, 8
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 17, 187, 167, 2
 PUSHBUTTON "Otevøít složku", 3038, 19, 194, 63, 12
 PUSHBUTTON "Start", 3042, 126, 194, 55, 12, WS_DISABLED
}
