408 DIALOGEX 0, 0, 277, 177, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x00000027, 18, 31, 159, 110
 PUSHBUTTON "Pøidat...", 3021, 182, 31, 64, 13
 PUSHBUTTON "Upravit...", 3024, 183, 48, 64, 13
 PUSHBUTTON "Odebrat", 3027, 183, 65, 64, 13
 PUSHBUTTON "Odebrat všechny", 3029, 183, 82, 64, 13
 CONTROL "", 3381, "STATIC", SS_OWNERDRAW, 189, 104, 51, 35
}
