411 DIALOGEX 0, 0, 292, 296, 0
STYLE DS_SETFONT | WS_POPUP
EXSTYLE = WS_EX_ACCEPTFILES
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Seznam souborù pro zpracování a vytvoøení obrázku s náhledy", 3197, 16, 22, 261, 97
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x000010A0, 21, 32, 251, 83
 GROUPBOX "Nastavení obrázku", 3199, 16, 120, 261, 137
 RTEXT "Název souboru:", 3385, 20, 132, 39, 10
 EDITTEXT 3069, 63, 130, 192, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 3021, 258, 130, 15, 11
 RTEXT "Formát:", 3387, 20, 147, 39, 10
 COMBOBOX 3025, 63, 145, 68, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Uložit do složky s videem", 3044, 135, 146, 136, 10
 AUTOCHECKBOX "Zahrnout pøíponu souboru v názvu souboru", 3045, 135, 157, 136, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 20, 170, 254, 3
 RTEXT "Sloupce:", 3381, 27, 180, 65, 10
 EDITTEXT 3088, 96, 178, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 132, 180, 10, 14
 RTEXT "Šíøka:", 3383, 145, 180, 63, 10
 EDITTEXT 3099, 212, 178, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 251, 183, 10, 14
 RTEXT "Øádky:", 3382, 27, 197, 65, 10
 EDITTEXT 3095, 96, 195, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 132, 195, 10, 14
 RTEXT "Okraj:", 3384, 145, 197, 63, 10
 EDITTEXT 3105, 212, 195, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3266, "msctls_updown32", 0x000000B6, 251, 197, 10, 14
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 20, 212, 254, 3
 RTEXT "Písmo informací o souboru:", 3386, 22, 222, 61, 10
 PUSHBUTTON "Písmo", 3024, 87, 219, 105, 13
 AUTOCHECKBOX "Zahrnout informace o souboru", 3034, 196, 221, 74, 10
 AUTOCHECKBOX "Zahrnout èas", 3040, 196, 239, 74, 10
 RTEXT "Písmo èasu:", 3402, 22, 239, 61, 10
 PUSHBUTTON "Písmo", 3027, 87, 237, 105, 13
 CONTROL "", 3037, "msctls_progress32", WS_BORDER, 16, 261, 261, 8
}
