420 DIALOGEX 0, 0, 245, 106, 0
STYLE DS_SETFONT | WS_POPUP | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 9, "Arial", 0, FALSE
{
 CTEXT "", 3381, 24, 36, 196, 32, SS_CENTERIMAGE, WS_EX_TRANSPARENT
 GROUPBOX "", -1, 17, 24, 210, 51, 0, WS_EX_TRANSPARENT
}
