423 DIALOGEX 0, 0, 397, 336, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Obecné nastavení", 3383, 14, 22, 173, 45
 AUTOCHECKBOX "Použít výstupní frontu", 3097, 21, 31, 160, 10
 AUTOCHECKBOX "Snížit frekvenci snímkù videa pro pøizpùsobení pøijímaèi", 3098, 21, 41, 160, 10
 AUTOCHECKBOX "Rozeznání prokládání TV a filmù", 3099, 21, 51, 160, 10
 GROUPBOX "Dekodér", 3384, 15, 70, 173, 239
 RTEXT "H264/AVC1:", 3209, 22, 82, 45, 8
 COMBOBOX 3007, 70, 80, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG1:", 3225, 22, 96, 45, 8
 COMBOBOX 3025, 70, 95, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG2:", 3226, 22, 111, 45, 8
 COMBOBOX 3026, 70, 110, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG4:", 3221, 22, 126, 45, 8
 COMBOBOX 3021, 70, 125, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "DV:", 3227, 22, 142, 45, 8
 COMBOBOX 3027, 70, 140, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "FFmpeg V1:", 3230, 22, 156, 45, 8
 COMBOBOX 3028, 70, 155, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "THEORA:", 3219, 22, 171, 45, 8
 COMBOBOX 3020, 70, 170, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VP3:", 3218, 22, 186, 45, 8
 COMBOBOX 3017, 70, 185, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VP8:", 3217, 22, 202, 45, 8
 COMBOBOX 3016, 70, 200, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "HUFFYUV:", 3222, 22, 217, 45, 8
 COMBOBOX 3022, 70, 215, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV1:", 3211, 22, 232, 45, 8
 COMBOBOX 3009, 70, 230, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV2:", 3213, 22, 247, 45, 8
 COMBOBOX 3011, 70, 245, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV3:", 3214, 22, 262, 45, 8
 COMBOBOX 3013, 70, 260, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VC1:", 3215, 22, 277, 45, 8
 COMBOBOX 3014, 70, 275, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Real Video:", 3223, 23, 291, 45, 8
 COMBOBOX 3029, 70, 290, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Nastavení hardwarové akcelerace (DXVA)", 3382, 194, 23, 188, 241
 RTEXT "Podmínka:", 3232, 202, 35, 45, 8
 COMBOBOX 3019, 250, 33, 127, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Rozlišení:", 3194, 202, 50, 45, 9
 EDITTEXT 3088, 250, 48, 35, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 280, 49, 10, 14
 CTEXT "X", 3197, 289, 50, 8, 10
 EDITTEXT 3095, 300, 48, 35, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 329, 50, 10, 14
 COMBOBOX 3003, 342, 48, 35, 53, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Omezení rozlišení:", 3233, 197, 65, 51, 8
 COMBOBOX 3024, 250, 63, 127, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 198, 80, 181, 1
 RTEXT "H264:", 3224, 202, 87, 45, 8
 COMBOBOX 3015, 250, 86, 127, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "AVC1:", 3228, 202, 104, 45, 8
 COMBOBOX 3018, 250, 102, 127, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG1:", 3208, 202, 120, 45, 8
 COMBOBOX 3005, 250, 118, 127, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG2:", 3210, 202, 136, 45, 8
 COMBOBOX 3006, 250, 134, 127, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG4:", 3229, 202, 152, 45, 8
 COMBOBOX 3023, 250, 150, 127, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV2:", 3212, 202, 169, 45, 8
 COMBOBOX 3008, 250, 166, 127, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV3:", 3216, 202, 184, 45, 8
 COMBOBOX 3010, 250, 182, 127, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VC1:", 3220, 202, 200, 45, 8
 COMBOBOX 3012, 250, 198, 127, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", 3285, "STATIC", SS_ETCHEDHORZ, 198, 215, 181, 1
 AUTOCHECKBOX "Použít DXVA mód bez renderování (ve Vista/Win7)", 3035, 201, 221, 175, 9
 LTEXT "DXVA podpora renderování je pomalejší než výchozí renderování. Mùžete ji použít s veškerým zpracováním videa.", 3195, 210, 232, 166, 24
}
