436 DIALOGEX 0, 0, 284, 220, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Výchozí dialogové okno", 3191, 5, 3, 273, 79, 0, WS_EX_TRANSPARENT
 LTEXT "Mùžete zde zmìnit písmo výchozích dialogových oken, pokud vypadají zvláštnì nebo si pøejete použít jiné písmo.", 3297, 13, 14, 259, 24
 AUTOCHECKBOX "Písmo:", 3058, 10, 44, 34, 10
 PUSHBUTTON "Písmo", 3021, 49, 44, 107, 13
 AUTOCHECKBOX "Velikost písma:", 3057, 164, 45, 60, 10
 EDITTEXT 3088, 228, 44, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 261, 45, 10, 14
 RTEXT "Znaková sada:", 3295, 10, 64, 34, 8
 COMBOBOX 3017, 49, 62, 107, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Dialogové okno s pevnou velikostí", 3192, 5, 86, 273, 60, 0, WS_EX_TRANSPARENT
 LTEXT "Mùžete zde zmìnit písmo dialogových oken s pevnou velikostí, jako je napø. okno s vysíláním. Zmìny jsou citlivìjší než u výchozích dialogových oken, proto doporuèujeme použít výchozí písmo.", 3298, 13, 96, 259, 26
 AUTOCHECKBOX "Písmo:", 3060, 10, 125, 34, 10
 PUSHBUTTON "Písmo", 3022, 49, 125, 107, 13
 AUTOCHECKBOX "Velikost písma:", 3059, 164, 126, 60, 10
 EDITTEXT 3089, 228, 125, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 261, 126, 10, 14
 GROUPBOX "Vyhlazování písma", 3195, 5, 151, 273, 48, 0, WS_EX_TRANSPARENT
 LTEXT "Tato volba zpùsobí vyhlazování textù programu. Je to o nìco pomalejší, ale písmo mùže být použito ve vysoké kvalitì.", 3296, 13, 163, 259, 18
 AUTOCHECKBOX "Povolit", 3062, 12, 185, 123, 10
}
