442 DIALOGEX 0, 0, 284, 109, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Jazyk", 3382, 5, 3, 273, 50
 RTEXT "Preferovaný jazyk:", 3318, 12, 15, 55, 8
 EDITTEXT 3069, 69, 13, 204, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Povolit pokud je poprvé zobrazený ve více jazycích", 3044, 69, 28, 202, 10
 AUTOCHECKBOX "Zakázat pokud neexistují takové titulky", 3061, 69, 39, 202, 10
 GROUPBOX "Synchronizace / Ostatní", 3383, 4, 56, 273, 45
 RTEXT "Jednotka zmìny:", 3310, 9, 66, 66, 8
 EDITTEXT 3111, 77, 64, 35, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3250, "msctls_updown32", 0x000000B6, 97, 69, 10, 12
 LTEXT "sek.", 3312, 115, 66, 16, 8
 AUTOCHECKBOX "Zachovat synch. pøi pøehrávání dalšího souboru", 3380, 134, 65, 136, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 79, 265, 1
 RTEXT "Doba zobrazení:", 3319, 9, 85, 66, 8
 EDITTEXT 3115, 77, 83, 35, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3253, "msctls_updown32", 0x000000B6, 100, 88, 10, 12
 LTEXT "sek.", 3320, 115, 85, 16, 8
 AUTOCHECKBOX "Použít pouze pokud je následující titulek prázdný", 3381, 134, 83, 144, 10
}
