445 DIALOGEX 0, 0, 303, 308, 0
STYLE DS_SETFONT | WS_POPUP | WS_CLIPCHILDREN
EXSTYLE = WS_EX_ACCEPTFILES
FONT 9, "Arial", 0, FALSE
{
 RTEXT "Název:", 3382, 16, 24, 49, 8
 COMBOBOX 3003, 69, 22, 174, 161, CBS_DROPDOWN | WS_VSCROLL
 PUSHBUTTON "Smazat", 3049, 248, 22, 48, 11
 CONTROL "", 3191, "STATIC", SS_ETCHEDHORZ, 7, 38, 291, 1
 RTEXT "Host (IP):", 3381, 16, 45, 49, 8
 EDITTEXT 3069, 69, 43, 111, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Pasivní", 3035, 184, 44, 43, 10
 RTEXT "Port:", 3294, 228, 44, 34, 8
 EDITTEXT 3072, 264, 43, 31, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3248, "msctls_updown32", 0x000000B6, 287, 48, 10, 12
 RTEXT "Uživatelské jméno:", 3383, 16, 60, 49, 8
 EDITTEXT 3070, 69, 58, 111, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "UTF8", 3036, 184, 59, 43, 10
 RTEXT "Heslo:", 3384, 16, 75, 49, 8
 EDITTEXT 3071, 69, 73, 111, 12, ES_PASSWORD | ES_AUTOHSCROLL
 AUTOCHECKBOX "Uložit", 3034, 184, 74, 43, 10
 PUSHBUTTON "Pøipojit", 3050, 246, 72, 48, 14
 CONTROL "", 3192, "STATIC", SS_ETCHEDHORZ, 7, 89, 291, 1
 RTEXT "Cesta:", 3385, 16, 96, 49, 8
 EDITTEXT 3073, 69, 94, 227, 12, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "Otevøít", 3039, 149, 290, 37, 11
 PUSHBUTTON "Pøidat do playlistu", 3038, 189, 290, 67, 11
 PUSHBUTTON "Zavøít", 3048, 258, 290, 37, 11
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x00000027, 9, 109, 286, 73
 CONTROL "", 3230, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00008849, 9, 186, 286, 99
}
