446 DIALOGEX 0, 0, 240, 125, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení alba", 3285, 14, 23, 211, 74
 RTEXT "Název alba:", 3286, 21, 36, 46, 8
 EDITTEXT 3070, 71, 34, 147, 12, ES_AUTOHSCROLL
 CONTROL "", 3385, "STATIC", SS_ETCHEDHORZ, 18, 50, 202, 1
 AUTORADIOBUTTON "Playlist", 3209, 22, 56, 179, 10, WS_GROUP
 AUTORADIOBUTTON "Navigátor souborù", 3210, 22, 68, 179, 10
 EDITTEXT 3069, 32, 80, 167, 12, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "...", 3021, 203, 80, 17, 11
}
