448 DIALOGEX 0, 0, 286, 122, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení 3D video módu", 3304, 5, 3, 273, 103
 AUTOCHECKBOX "Povolit 3D video mód (vyžaduje podporu pixel shader)", 3140, 13, 15, 262, 9
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 29, 268, 1
 RTEXT "Vstup (zdroj):", 3306, 12, 36, 80, 10
 COMBOBOX 3349, 95, 34, 178, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Ofset X:", 3287, 12, 52, 80, 8
 EDITTEXT 3088, 95, 50, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 130, 50, 10, 14
 AUTOCHECKBOX "Polovièní rozlišení", 3138, 149, 51, 106, 9
 RTEXT "Ofset Y:", 3288, 12, 67, 80, 8
 EDITTEXT 3089, 95, 65, 38, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 130, 65, 10, 14
 AUTOCHECKBOX "Prohodit pravý/levý obrázek", 3139, 149, 62, 106, 9
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 82, 268, 1
 RTEXT "Výstup (obrazovka):", 3307, 12, 89, 80, 10
 COMBOBOX 3351, 95, 87, 178, 137, CBS_DROPDOWNLIST | WS_VSCROLL
}
