452 DIALOGEX 0, 0, 284, 245, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení AviSynth", 3381, 5, 3, 273, 226
 AUTOCHECKBOX "Použít filtry AviSynth", 3036, 14, 14, 111, 10
 AUTOCHECKBOX "Použít pouze v progresivním snímku", 3041, 131, 14, 141, 10
 LTEXT "Mùžete použít filtry AviSynth, které jsou nainstalované ve vašem systému. YV12 je jediný podporovaný barevný prostor a zpracování zmìny obrazu nemùže být použito.", 3383, 11, 25, 262, 17
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 44, 268, 1
 AUTOCHECKBOX "Pøidat \"potplayer_source()\"", 3037, 15, 48, 168, 10
 AUTOCHECKBOX "Obnovit pøi pøesunu", 3038, 15, 59, 83, 10
 AUTOCHECKBOX "Zpoždìní", 3039, 101, 59, 102, 10, BS_RIGHT | BS_LEFTTEXT
 EDITTEXT 3090, 208, 57, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 235, 60, 10, 14
 LTEXT "ms", 3384, 253, 58, 17, 9
 AUTOCHECKBOX "Rychlý výstup", 3034, 15, 71, 66, 10
 AUTOCHECKBOX "Buffer (zpìtný/dopøedný)", 3035, 85, 71, 119, 11, BS_RIGHT | BS_LEFTTEXT
 EDITTEXT 3088, 208, 71, 29, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 231, 75, 10, 14
 EDITTEXT 3089, 242, 71, 29, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 265, 83, 10, 14
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 86, 268, 1
 RTEXT "Pøedvolba:", 3294, 11, 92, 37, 8
 COMBOBOX 3040, 52, 90, 150, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "...", 3361, 205, 90, 17, 11
 PUSHBUTTON "Uložit", 3360, 232, 90, 40, 13
 EDITTEXT 3069, 11, 106, 261, 120, ES_MULTILINE | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
}
