303 DIALOGEX 0, 0, 187, 83, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 EDITTEXT 3070, 64, 34, 99, 12, ES_PASSWORD | ES_AUTOHSCROLL
 RTEXT "Heslo:", 3381, 8, 36, 52, 11
 EDITTEXT 3082, 65, 52, 99, 12, ES_AUTOHSCROLL | NOT WS_VISIBLE
}
