331 DIALOGEX 0, 0, 169, 105, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_CONTROLPARENT
FONT 9, "Arial", 0, FALSE
{
 EDITTEXT 3069, 0, 15, 166, 37, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL
 RTEXT "Délka opakování:", 3391, 1, 57, 43, 8
 EDITTEXT 3267, 45, 56, 29, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 70, 55, 11, 12
 LTEXT "sek.", 3292, 76, 58, 15, 8
 RTEXT "Poèet:", 3392, 90, 57, 38, 8
 EDITTEXT 3271, 130, 56, 33, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3256, "msctls_updown32", 0x000000B6, 158, 55, 11, 12
 RTEXT "Rychlost:", 3393, 5, 73, 38, 8
 EDITTEXT 3268, 45, 71, 29, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3257, "msctls_updown32", 0x000000B6, 69, 72, 11, 12
 RTEXT "Umístìní:", 3389, 81, 73, 27, 8
 COMBOBOX 3005, 111, 71, 53, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Použít HTML kód", 3034, 5, 89, 93, 8
 CONTROL "Použít", 3021, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 104, 88, 29, 10
 CONTROL "Zrušit", 3024, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 135, 88, 29, 10
}
