392 DIALOGEX 0, 0, 274, 169, 0
STYLE DS_SETFONT | WS_POPUP | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 9, "Arial", 0, FALSE
{
 COMBOBOX 3003, 9, 22, 64, 66, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3069, 75, 22, 144, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 3021, 221, 23, 17, 10
 PUSHBUTTON "R", 3024, 241, 23, 17, 10
 EDITTEXT 3082, 8, 36, 233, 97, ES_MULTILINE | ES_AUTOHSCROLL | ES_NOHIDESEL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
}
