414 DIALOGEX 0, 0, 264, 291, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 CTEXT "Newly updated version has been confirmed.\n Would you like to update?", 3381, 16, 26, 230, 17
 EDITTEXT 3069, 15, 56, 234, 90, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
 EDITTEXT 3070, 15, 153, 234, 68, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
 RTEXT "Check for updates:", 3291, 11, 228, 69, 10
 COMBOBOX 3010, 89, 226, 161, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "File link:", 3292, 16, 242, 69, 10
 COMBOBOX 3011, 89, 241, 161, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Set Daum WebPage as default", 3327, 90, 256, 156, 10
}
