307 DIALOGEX 0, 0, 208, 97, 0
STYLE DS_SETFONT | WS_POPUP
EXSTYLE = WS_EX_TOOLWINDOW
FONT 9, "Arial", 0, FALSE
{
 LTEXT "", 3041, 12, 40, 184, 10, SS_NOPREFIX | SS_ENDELLIPSIS | SS_PATHELLIPSIS
 CONTROL "", 3037, "msctls_progress32", WS_BORDER, 11, 57, 187, 9
}
