325 DIALOGEX 0, 0, 314, 287, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 CONTROL "", 3380, "SysTabControl32", 0, 11, 33, 289, 229
 PUSHBUTTON "Filtr", 3038, 11, 14, 48, 14
 PUSHBUTTON "Zdroj / splitter", 3024, 61, 14, 62, 14
 PUSHBUTTON "Video dekodér", 3027, 126, 14, 57, 14
 PUSHBUTTON "Audio dekodér", 3029, 186, 14, 57, 14
 PUSHBUTTON "Priorita filtru", 3345, 246, 14, 59, 14
}
