327 DIALOGEX 0, 0, 277, 170, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 EDITTEXT 3241, 136, 93, 73, 12, ES_AUTOHSCROLL
 EDITTEXT 3238, 136, 111, 50, 12, ES_AUTOHSCROLL
 EDITTEXT 3240, 198, 111, 50, 12, ES_PASSWORD | ES_AUTOHSCROLL
 RTEXT "JmÈno (re·lnÈ):", 3286, 76, 93, 56, 12, SS_CENTERIMAGE
 RTEXT "»Ìslo soc. pojiöù.:", 3287, 73, 111, 59, 12, SS_CENTERIMAGE
 CTEXT "-", 3291, 188, 111, 8, 14, SS_CENTERIMAGE
 LTEXT "", 3278, 71, 32, 185, 32
 AUTOCHECKBOX "ZabezpeËen˝ p¯Ìstup", 3034, 136, 126, 113, 10, WS_DISABLED
 GROUPBOX "", -1, 71, 83, 188, 57
 LTEXT "Pro pouûitÌ tÈto sluûby musÌ b˝t ovÏ¯eno vaöe jmÈno.", 3281, 71, 70, 177, 10
}
