334 DIALOGEX 0, 0, 169, 105, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_CONTROLPARENT
FONT 9, "Arial", 0, FALSE
{
 EDITTEXT 3082, 0, 15, 166, 37, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_NOHIDESEL | ES_WANTRETURN | WS_VSCROLL
 RTEXT "Zvolit umístìní:", 3391, 0, 56, 52, 8
 CONTROL "Použít", 3027, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 104, 88, 29, 10
 CONTROL "Zrušit", 3029, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 135, 88, 29, 10
 AUTOCHECKBOX "Použít HTML kódy barev", 3034, 5, 89, 95, 8
}
