351 DIALOGEX 0, 0, 433, 291, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Informace", 3315, 12, 22, 405, 36
 LTEXT "Vestavìné kodeky PotPlayeru umožòují pøehrát vše co potøebujete tím nejlepším zpùsobem. Nedoporuèujeme použití externích kodekù, pokud to není absolutnì nutné. Externí kodeky navíc mohou vést k rùzným problémùm jako je nestabilita, zhoršen kvality, atd.", 3196, 16, 31, 397, 24
 GROUPBOX "Seznam DirectShow filtrù", 3384, 12, 58, 137, 204
 CONTROL "", 3242, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00004809, 17, 68, 127, 188
 GROUPBOX "Source/Splitter", 3383, 154, 58, 77, 172
 CONTROL "", 3243, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00004809, 158, 68, 69, 158
 GROUPBOX "Video dekodér", 3382, 237, 58, 82, 172
 CONTROL "", 3244, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00004809, 241, 68, 74, 158
 GROUPBOX "Audio dekodér", 3381, 325, 58, 92, 172
 CONTROL "", 3245, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00004809, 329, 68, 83, 158
 PUSHBUTTON "Skenovat", 3024, 154, 234, 77, 12
 PUSHBUTTON "Pøidat externí filtr", 3031, 237, 234, 82, 12
 PUSHBUTTON "Pøidat registrovaný filtr", 3021, 325, 234, 92, 12
 PUSHBUTTON "Smazat", 3033, 154, 250, 77, 12
 PUSHBUTTON "Informace o filtru", 3109, 237, 250, 82, 12
}
