357 DIALOGEX 0, 0, 282, 171, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "DoËasnÈ ËasovÈ ˙loûiötÏ", 3285, 5, 2, 273, 54
 LTEXT "SÌùov· data budou doËasnÏ uloûena po zde zvolenou dobu.", 3286, 11, 14, 260, 17
 CONTROL "", 3219, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 11, 37, 200, 10
 EDITTEXT 3267, 215, 35, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 249, 35, 11, 12
 LTEXT "min.", 3287, 253, 37, 20, 10
 GROUPBOX "Proxy server", 3288, 5, 59, 273, 90
 LTEXT "Pokud se p¯ipojujete k internetu p¯es proxy server, zadejte zde prosÌm odpovÌdajÌcÌ ˙daje.", 3289, 11, 71, 260, 19
 RTEXT "Typ:", 3290, 26, 96, 35, 8
 COMBOBOX 3003, 64, 94, 206, 61, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Server:", 3291, 11, 114, 50, 8
 EDITTEXT 3069, 64, 112, 77, 12, ES_AUTOHSCROLL
 RTEXT "Port:", 3293, 147, 114, 39, 8
 EDITTEXT 3271, 188, 112, 81, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3256, "msctls_updown32", 0x000000B6, 226, 118, 11, 12
 RTEXT "UûivatelskÈ ID:", 3292, 11, 131, 50, 8
 EDITTEXT 3077, 64, 130, 77, 12, ES_AUTOHSCROLL
 RTEXT "Heslo:", 3294, 147, 131, 39, 8
 EDITTEXT 3085, 188, 130, 81, 12, ES_PASSWORD | ES_AUTOHSCROLL
}
