372 DIALOGEX 0, 0, 284, 232, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení vizualizace", 3292, 5, 3, 273, 217
 AUTOCHECKBOX "Povolit vizualizaci pro audio záznamy", 3040, 14, 13, 135, 10
 AUTOCHECKBOX "Zobrazovat obrázky alba", 3041, 157, 13, 115, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 9, 26, 266, 1
 RTEXT "Zobrazení vizualizace:", 3300, 11, 32, 79, 8
 COMBOBOX 3337, 94, 30, 108, 77, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 3338, 205, 30, 68, 77, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Typ vizualizace:", 3293, 11, 48, 79, 8
 COMBOBOX 3012, 94, 46, 179, 77, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vizualizace WMP:", 3299, 8, 63, 82, 8
 COMBOBOX 3018, 94, 62, 108, 77, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Nastavení", 3027, 205, 62, 68, 12
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 78, 266, 1
 LTEXT "Složka pro prezentaci:", 3294, 13, 86, 78, 8
 PUSHBUTTON "Pøidat", 3021, 171, 82, 50, 12
 PUSHBUTTON "Smazat", 3024, 224, 82, 50, 12
 LISTBOX 3242, 10, 97, 263, 70, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 RTEXT "Èas zobrazení:", 3295, 8, 173, 43, 8
 EDITTEXT 3088, 53, 171, 40, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 82, 164, 10, 14
 LTEXT "sek.", 3296, 97, 173, 29, 8
 RTEXT "Úroveò:", 3298, 127, 173, 37, 8
 EDITTEXT 3095, 167, 171, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 206, 178, 10, 14
 RTEXT "Efekt:", 3297, 8, 188, 43, 8
 COMBOBOX 3015, 53, 186, 107, 77, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Pozice:", 3301, 8, 203, 43, 8
 COMBOBOX 3016, 53, 202, 107, 77, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Náhodná prezentace", 3034, 168, 186, 94, 10
 AUTOCHECKBOX "Zobrazit název souboru", 3035, 168, 197, 94, 10
}
