374 DIALOGEX 0, 0, 286, 153, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Okraje obrazu videa", 3293, 5, 3, 273, 91
 RTEXT "Metoda:", 3294, 12, 15, 56, 9
 COMBOBOX 3073, 71, 13, 156, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Obnovit", 3162, 230, 13, 43, 12
 AUTOCHECKBOX "Pøizpùsobit rozlišení obrazovky pøed použitím pøiblížení", 3104, 56, 29, 219, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 9, 42, 267, 1
 RTEXT "Pixel:", 3191, 12, 49, 56, 9
 EDITTEXT 3276, 70, 47, 41, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 97, 55, 11, 12
 CTEXT "X", 3189, 114, 48, 8, 9
 EDITTEXT 3277, 125, 47, 41, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 131, 54, 12, 12
 RTEXT "Barva pozadí:", 3197, 168, 48, 78, 9
 CONTROL "", 3217, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 251, 48, 10, 10, WS_EX_DLGMODALFRAME
 RTEXT "Horizontální:", 3295, 12, 64, 56, 9
 CONTROL "", 3079, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 71, 64, 137, 10
 EDITTEXT 3088, 211, 62, 24, 12, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "Výchozí", 3166, 238, 62, 34, 12
 RTEXT "Vertikální:", 3194, 12, 79, 56, 9
 CONTROL "", 3084, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 71, 79, 137, 10
 EDITTEXT 3095, 211, 77, 24, 12, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "Výchozí", 3171, 238, 77, 34, 12
 GROUPBOX "Spodní okraj", 3296, 5, 97, 273, 44
 AUTOCHECKBOX "Nezobrazovat bez titulkù", 3110, 136, 109, 136, 10
 COMBOBOX 3100, 11, 108, 120, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Použít funkci pøiblížení pokud není použitý filtr pro zpracování videa", 3111, 11, 125, 262, 10
}
