401 DIALOGEX 0, 0, 281, 232, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 CTEXT "", 3381, 36, 30, 216, 13
 LTEXT "Soubory vyadované k pøehrávání nìkterıch souborù nejsou správnì nainstalovány. Prosím stáhnìte a nainstalujte následující soubory.", 3382, 31, 51, 225, 19
 PUSHBUTTON "Stáhnout wmfdist.exe (98 a novìjší)", 3021, 70, 71, 121, 12
 LTEXT "Po dokonèení instalace spuste znovu PotPlayer.", 3383, 31, 88, 228, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 21, 101, 239, 1
 LTEXT "Pokud se tato chyba objeví znovu, prosím stáhnìte a nainstalujte související soubory Windows Media Player.", 3384, 31, 109, 225, 19
 PUSHBUTTON "Stáhnout wmfdist11.exe (XP a novìjší)", 3038, 70, 128, 121, 12
 LTEXT "Po dokonèení instalace spuste znovu PotPlayer.", 3386, 31, 145, 228, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 21, 160, 239, 2
 LTEXT "Po dokonèení instalace spuste znovu PotPlayer.", 3385, 31, 170, 221, 19
 PUSHBUTTON "Stáhnout Windows Media Player", 3024, 70, 189, 121, 12
}
