409 DIALOGEX 0, 0, 528, 342, 0
STYLE DS_SETFONT | WS_POPUP | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 9, "Arial", 0, FALSE
{
 LISTBOX 3242, 43, 40, 342, 214, LBS_OWNERDRAWVARIABLE | LBS_NOINTEGRALHEIGHT | LBS_WANTKEYBOARDINPUT | LBS_NODATA | NOT WS_BORDER | WS_VSCROLL | WS_TABSTOP
}
