422 DIALOGEX 0, 0, 239, 269, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Obecné nastavení", 3286, 14, 24, 211, 69
 RTEXT "Velikost cache:", 3285, 27, 38, 63, 8
 EDITTEXT 3111, 93, 36, 55, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3250, "msctls_updown32", 0x000000B6, 143, 46, 10, 12
 LTEXT "KB", 3312, 151, 38, 22, 8
 PUSHBUTTON "Výchozí", 3021, 175, 35, 44, 14
 CONTROL "", 3199, "STATIC", SS_ETCHEDHORZ, 17, 53, 206, 1
 AUTOCHECKBOX "Použít samostatný pin pro video výstup (doporuèeno)", 3048, 22, 57, 197, 10, BS_MULTILINE
 AUTOCHECKBOX "Použít samostatný pin pro audio výstup (doporuèeno)", 3035, 22, 68, 197, 10, BS_MULTILINE
 AUTOCHECKBOX "Naèíst vestavìná písma", 3039, 22, 79, 197, 10, BS_MULTILINE
 GROUPBOX "MPEG 1/PS/TS", 3287, 14, 98, 211, 138
 AUTOCHECKBOX "Nezpracovávat AVC1 jako H264", 3047, 22, 108, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Pøidat prázdný stream titulkù", 3045, 22, 118, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Zpracovávat všechny èasy PTS media streamù", 3036, 22, 128, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Použít rychlý pøesun (pro soubory enkódované s VBR)", 3038, 22, 138, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Použít pøesun pro všechny streamy", 3046, 22, 148, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Zpracovávat TrueHD + AC3 streamy jako TrueHD", 3037, 22, 158, 193, 9, BS_MULTILINE
 CONTROL "", 3200, "STATIC", SS_ETCHEDHORZ, 17, 172, 206, 1
 AUTOCHECKBOX "Použít zpracování HDMV LPCM paketù", 3044, 22, 177, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Použít zpracování AC3 paketù", 3040, 22, 188, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Použít zpracování TrueHD paketù", 3041, 22, 199, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Použít zpracování DIRAC paketù", 3042, 22, 210, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Použít zpracování DVD Subpicture paketù", 3043, 22, 221, 193, 9, BS_MULTILINE
}
