440 DIALOGEX 0, 0, 220, 113, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení pøeskoèení sekce", 3285, 14, 21, 192, 62
 EDITTEXT 3088, 62, 33, 24, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 78, 40, 10, 14
 RTEXT "Zaèátek:", 3287, 21, 35, 37, 8
 CONTROL ":", 3288, "STATIC", SS_LEFTNOWORDWRAP | WS_GROUP, 92, 34, 8, 8
 EDITTEXT 3089, 100, 33, 24, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 116, 40, 10, 14
 CONTROL ":", 3289, "STATIC", SS_LEFTNOWORDWRAP | WS_GROUP, 131, 35, 8, 8
 EDITTEXT 3090, 139, 33, 24, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 155, 41, 10, 14
 AUTOCHECKBOX "Od konce pøehrávání", 3034, 63, 49, 135, 10
 LTEXT "", 3290, 170, 36, 31, 8
 RTEXT "Délka:", 3291, 21, 66, 37, 8
 EDITTEXT 3091, 62, 64, 43, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3265, "msctls_updown32", 0x000000B6, 89, 69, 10, 14
 LTEXT "", 3292, 111, 65, 84, 8
}
