447 DIALOGEX 0, 0, 283, 240, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení dotykového ovládání", 3381, 5, 3, 273, 228
 AUTOCHECKBOX "Povolit dotykové ovládání (vyžaduje minimálnì Windows 7)", 3035, 14, 15, 258, 10
 CONTROL "", 3285, "STATIC", SS_ETCHEDHORZ, 7, 29, 269, 1
 LTEXT "", 3382, 11, 35, 261, 191
}
