// generated on 19. 1. 2014 14:56:21

// --------- resources of type Dialog -----------

453 DIALOGEX 0, 0, 266, 303, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Nastavení opakování A-B", 3285, 14, 23, 238, 245
 CONTROL "", 3242, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000880D, 20, 33, 225, 157
 PUSHBUTTON "Pøidat", 3024, 165, 194, 38, 12
 PUSHBUTTON "Smazat", 3026, 206, 194, 38, 12
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 18, 210, 231, 1
 RTEXT "Nastavit A:", 3287, 21, 217, 37, 8
 EDITTEXT 3088, 62, 215, 24, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 78, 222, 10, 14
 CONTROL ":", 3288, "STATIC", SS_LEFTNOWORDWRAP | WS_GROUP, 92, 216, 8, 8
 EDITTEXT 3089, 100, 215, 24, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 116, 222, 10, 14
 CONTROL ":", 3289, "STATIC", SS_LEFTNOWORDWRAP | WS_GROUP, 131, 217, 8, 8
 EDITTEXT 3090, 139, 215, 24, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 155, 223, 10, 14
 CONTROL ".", 3291, "STATIC", SS_LEFTNOWORDWRAP | WS_GROUP, 168, 217, 8, 8
 EDITTEXT 3093, 175, 215, 33, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3267, "msctls_updown32", 0x000000B6, 192, 223, 10, 14
 LTEXT "", 3290, 213, 217, 34, 8
 RTEXT "Nastavit B:", 3293, 21, 234, 37, 8
 EDITTEXT 3091, 62, 232, 32, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3265, "msctls_updown32", 0x000000B6, 75, 239, 10, 14
 CONTROL ".", 3296, "STATIC", SS_LEFTNOWORDWRAP | WS_GROUP, 99, 234, 8, 8
 EDITTEXT 3095, 107, 231, 33, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3268, "msctls_updown32", 0x000000B6, 126, 239, 10, 14
 LTEXT "", 3292, 159, 233, 84, 8
 RTEXT "Poèet opak.:", 3294, 16, 251, 45, 8
 EDITTEXT 3092, 62, 249, 32, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3266, "msctls_updown32", 0x000000B6, 81, 255, 10, 14
 RTEXT "Poznámka:", 3295, 99, 251, 37, 8
 EDITTEXT 3094, 141, 249, 106, 12, ES_AUTOHSCROLL
}

