310 DIALOGEX 0, 0, 251, 252, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "", -1, 14, 23, 223, 40
 ICON 100, -1, 23, 37, 20, 20
 LTEXT "Zadejte URL nebo zvolte cestu k souboru pro pøehrání.", 3285, 51, 34, 180, 8
 LTEXT "Napøíklad - http://www.daum.net/test.mp3", 3286, 51, 47, 180, 8
 RTEXT "URL:", 3287, 12, 69, 35, 8, 0, WS_EX_TRANSPARENT
 COMBOBOX 3003, 51, 67, 187, 132, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 GROUPBOX "Adresa souboru", 3288, 14, 80, 223, 31
 COMBOBOX 3005, 21, 92, 154, 140, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 PUSHBUTTON "Otevøít složku", 3021, 180, 92, 50, 12
 CONTROL "", 3242, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000880D, 14, 117, 223, 105
}
