320 DIALOGEX 0, 0, 218, 123, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 CTEXT "Aktuální vysílání je \"pøehráváno.\" Prosím zvolte jednu z následujících možností.", 3381, 11, 29, 197, 17
 CONTROL "Zastavit aktuální vysílání a vybrat jiné", 3021, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 11, 48, 196, 12
 CONTROL "Pøerušit aktuální vysílání pro pozdìjší sledování", 3038, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 11, 64, 196, 12
 CONTROL "Volbou nového programu, který bude použit", 3024, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 11, 80, 196, 12
 CONTROL "Zastavit aktuální vysílání", 3027, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 11, 96, 196, 12
}
