324 DIALOGEX 0, 0, 417, 301, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 COMBOBOX 3005, 9, 21, 104, 145, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x00000027, 9, 36, 104, 236
 CONTROL "", 3380, "SysTabControl32", 0, 119, 21, 289, 251, WS_EX_TRANSPARENT
 PUSHBUTTON "Inicializovat (&I)", 3035, 130, 275, 46, 14
 PUSHBUTTON "Export pøedvoleb (&S)", 3042, 179, 275, 59, 14
 PUSHBUTTON "Použít (&A)", 3043, 246, 275, 45, 14
}
