332 DIALOGEX 0, 0, 348, 17, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg", 0, FALSE
{
 LTEXT "Enkódování:", 3285, 82, 2, 63, 8
 COMBOBOX 3003, 152, 0, 191, 46, CBS_DROPDOWNLIST | WS_VSCROLL
}
