354 DIALOGEX 0, 0, 283, 248, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "General Settings", 3285, 5, 3, 273, 173
 RTEXT "On Top:", 3286, 11, 15, 72, 8
 COMBOBOX 3003, 85, 13, 187, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Keep on top in Full screen", 3125, 85, 28, 185, 10
 RTEXT "File open method:", 3288, 11, 43, 72, 8
 COMBOBOX 3005, 85, 41, 187, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Tray icon:", 3290, 11, 59, 72, 8
 COMBOBOX 3008, 85, 57, 186, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Automatic Updates:", 3291, 11, 75, 72, 8
 COMBOBOX 3010, 85, 73, 186, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Multiple Launching:", 3293, 11, 91, 72, 8
 COMBOBOX 3011, 85, 89, 186, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 105, 269, 3
 AUTOCHECKBOX "Fixed window position when minimize", 3129, 11, 108, 137, 10
 AUTOCHECKBOX "Show tooltips", 3072, 154, 108, 119, 10
 AUTOCHECKBOX "Simultaneously minimize all windows", 3094, 11, 119, 137, 10
 AUTOCHECKBOX "Snap to edge/window", 3073, 154, 119, 119, 10
 AUTOCHECKBOX "Stop playing when minimized", 3110, 11, 130, 137, 10
 AUTOCHECKBOX "Close media files when stopped", 3124, 154, 130, 119, 10
 AUTOCHECKBOX "Default size on closing file", 3123, 11, 140, 137, 10
 AUTOCHECKBOX "Store settings to .ini file", 3083, 154, 140, 119, 10
 AUTOCHECKBOX "Adjust window size from window center", 3126, 11, 151, 141, 10
 AUTOCHECKBOX "Use Windows 7 taskbar feature", 3336, 154, 151, 119, 10
 AUTOCHECKBOX "Show history of recent files in fav menu", 3127, 11, 162, 139, 10
 GROUPBOX "When Starting", 3287, 5, 178, 273, 55
 RTEXT "Screen Status:", 3289, 11, 189, 72, 8
 COMBOBOX 3006, 85, 187, 99, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3273, 188, 188, 35, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3259, "msctls_updown32", 0x000000B6, 220, 194, 10, 12
 LTEXT "x", 3292, 229, 189, 8, 8
 EDITTEXT 3275, 238, 188, 35, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3261, "msctls_updown32", 0x000000B6, 266, 196, 10, 12
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 204, 269, 3
 AUTOCHECKBOX "Restore window to its last position", 3131, 10, 208, 132, 10
 AUTOCHECKBOX "Place window to screen center", 3130, 155, 208, 115, 10
 AUTOCHECKBOX "Start playback", 3132, 10, 219, 140, 10
}
