401 DIALOGEX 0, 0, 281, 232, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 CTEXT "", 3381, 36, 30, 216, 13
 LTEXT "To play some files, the necessary files is not installed correctly on your computer.Please download and run the following files.", 3382, 31, 51, 225, 19
 PUSHBUTTON "Download wmfdist.exe (98 or more)", 3021, 70, 71, 121, 12
 LTEXT "After installation is complete, please re-run PotPlayer.", 3383, 31, 88, 228, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 21, 101, 239, 1
 LTEXT "If you got this error again, please download and install Windows Media Player related files.", 3384, 31, 109, 225, 19
 PUSHBUTTON "Download wmfdist11.exe (xp or more)", 3038, 70, 128, 121, 12
 LTEXT "After installation is complete, please re-run PotPlayer.", 3386, 31, 145, 228, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 21, 160, 239, 2
 LTEXT "After installation is complete, please re-run PotPlayer.", 3385, 31, 170, 221, 19
 PUSHBUTTON "Download Windows Media Player", 3024, 70, 189, 121, 12
}
