304 DIALOGEX 0, 0, 181, 250, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_CONTROLPARENT
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Broadcasting title", 3285, 3, 6, 172, 28, 0, WS_EX_TRANSPARENT
 COMBOBOX 3005, 7, 16, 54, 237, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3004, 66, 16, 105, 12, ES_AUTOHSCROLL
 GROUPBOX "Broadcasting web site", 3295, 3, 35, 172, 28, 0, WS_EX_TRANSPARENT
 EDITTEXT 3077, 7, 46, 164, 12, ES_AUTOHSCROLL
 GROUPBOX "Broadcasting description", 3286, 3, 65, 172, 32, 0, WS_EX_TRANSPARENT
 EDITTEXT 3071, 7, 75, 164, 17, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
 GROUPBOX "Broadcasting rights", 3287, 3, 99, 172, 102, 0, WS_EX_TRANSPARENT
 RTEXT "Allows viewing :", 3288, 8, 110, 51, 8
 EDITTEXT 3055, 62, 108, 54, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3248, "msctls_updown32", 0x00000036, 112, 107, 11, 14
 LTEXT "(Up to 1,000 P)", 3289, 118, 110, 54, 8
 AUTOCHECKBOX "Password:", 3086, 13, 124, 45, 8
 EDITTEXT 3049, 62, 122, 54, 12, ES_AUTOHSCROLL
 LTEXT "(Up to 10 digits)", 3290, 119, 124, 49, 8
 AUTOCHECKBOX "Login required to watch broadcasting", 3090, 13, 137, 137, 8
 AUTOCHECKBOX "Original transmission", 3155, 13, 147, 98, 9
 AUTOCHECKBOX "Forbids to chatroom", 3165, 13, 158, 80, 9
 AUTOCHECKBOX "Stored broadcasting audience prohibited", 3174, 13, 169, 145, 9
 AUTOCHECKBOX "Allow re-trans.", 3161, 102, 147, 68, 9
 GROUPBOX "Broadcasting Status", 3291, 3, 203, 172, 42, 0, WS_EX_TRANSPARENT
 RTEXT "Rate -", 3292, 8, 213, 41, 8
 RTEXT "Delay -", 3293, 8, 223, 41, 8
 RTEXT "Sent size -", 3294, 8, 233, 41, 8
 LTEXT "", 3381, 54, 213, 117, 9
 LTEXT "", 3382, 54, 223, 117, 8
 LTEXT "", 3383, 54, 233, 117, 8
 AUTOCHECKBOX "Auto control", 3182, 13, 180, 59, 9
 EDITTEXT 3065, 73, 179, 24, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3323, "msctls_updown32", 0x00000036, 93, 178, 11, 14
 LTEXT "Allows viewing :", 3296, 98, 181, 74, 8
}
