306 DIALOGEX 0, 0, 179, 165, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "??", 0, FALSE
{
 RTEXT "ID", 3381, 12, 59, 39, 12, SS_CENTERIMAGE
 EDITTEXT 3007, 54, 60, 60, 12, ES_AUTOHSCROLL
 RTEXT "Password", 3382, 12, 77, 39, 12, SS_CENTERIMAGE
 EDITTEXT 3023, 54, 76, 60, 14, ES_PASSWORD | ES_AUTOHSCROLL
 CONTROL "Log in", 1, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 119, 76, 37, 14
 AUTOCHECKBOX "IP Security", 3034, 120, 60, 52, 12
 AUTOCHECKBOX "Save ID / Password", 3047, 54, 95, 107, 9
 AUTOCHECKBOX "Login automatically at startup", 3035, 54, 109, 107, 9
 PUSHBUTTON "Registered Users", 3038, 14, 132, 60, 13
 PUSHBUTTON "Find User ID / Password", 3042, 76, 132, 90, 13
}
