309 DIALOGEX 0, 0, 220, 280, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Quick Capture", 3285, 12, 22, 196, 51
 LTEXT "Quick capture faster than the default capture speed but its possible some compatible problem.So we suggested that you test it fully before use it.", 3286, 19, 33, 183, 24
 AUTOCHECKBOX "Enable quick capture", 3040, 20, 59, 165, 10
 GROUPBOX "Smooth Filter", 3287, 12, 77, 196, 50
 LTEXT "Select used image size filter. Since using this will cause high CPU load, so please don't use it unless necessary.", 3288, 19, 88, 183, 19
 COMBOBOX 3006, 19, 109, 184, 68, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "PIP (Picture In Picture)", 3289, 12, 130, 196, 117
 LTEXT "With PIP function can be watched two channels on a screen at the same time. ", 3290, 26, 141, 163, 19
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 14, 160, 192, 1
 AUTOCHECKBOX "Enable PIP", 3034, 19, 164, 165, 10
 RTEXT "Main screen:", 3291, 23, 179, 55, 8
 COMBOBOX 3005, 83, 177, 116, 64, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Second screen size:", 3292, 14, 197, 64, 8
 CONTROL "", 3043, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 80, 195, 68, 11
 EDITTEXT 3267, 150, 195, 37, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 181, 195, 11, 12
 LTEXT "%", 3295, 190, 197, 14, 8
 RTEXT "Horizontal Position:", 3293, 14, 215, 64, 8
 CONTROL "", 3045, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 80, 213, 68, 11
 EDITTEXT 3271, 150, 212, 37, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3256, "msctls_updown32", 0x000000B6, 181, 212, 11, 12
 LTEXT "%", 3296, 190, 214, 14, 8
 RTEXT "Vertical Position:", 3294, 23, 231, 55, 8
 CONTROL "", 3050, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 80, 229, 68, 11
 EDITTEXT 3272, 150, 229, 37, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3257, "msctls_updown32", 0x000000B6, 181, 229, 11, 12
 LTEXT "%", 3297, 190, 230, 14, 8
}
