316 DIALOGEX 0, 0, 181, 135, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_ACCEPTFILES
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "", 3381, 4, 0, 170, 100, 0, WS_EX_TRANSPARENT
 CONTROL "", 3230, "SysListView32", WS_TABSTOP | 0x00005C09, 8, 19, 163, 77
 GROUPBOX "Other Settings", 3382, 4, 102, 170, 24, 0, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Simultaneously subtitles transmit in broadcast.", 3034, 10, 112, 161, 10
}
