320 DIALOGEX 0, 0, 218, 123, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 CTEXT "Currently brocasting is \"playing.\" Please choose one item from the following option.", 3381, 11, 29, 197, 17
 CONTROL "Stop the current broadcasting, choose other broadcast", 3021, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 11, 48, 196, 12
 CONTROL "Suspend the current brocasting for later viewing", 3038, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 11, 64, 196, 12
 CONTROL "By implementing the new program will apply.", 3024, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 11, 80, 196, 12
 CONTROL "Stop the current broadcasting", 3027, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 11, 96, 196, 12
}
