323 DIALOGEX 0, 0, 170, 94, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 RTEXT "Transparency:", 3285, 21, 36, 52, 8
 LTEXT "0%", 3287, 77, 26, 22, 8
 LTEXT "100%", 3288, 135, 26, 21, 8
 CONTROL "", 3043, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 76, 36, 78, 11
 RTEXT "Color:", 3286, 19, 53, 54, 8
 CONTROL "", 3213, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 76, 50, 12, 12, WS_EX_DLGMODALFRAME
}
