344 DIALOGEX 0, 0, 166, 42, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_CONTROLPARENT
FONT 9, "Arial", 0, FALSE
{
 RTEXT "Level:", 3285, 7, 10, 25, 8
 CONTROL "", 3045, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 34, 9, 88, 11
 LTEXT "100%", 3392, 124, 10, 20, 8
 CONTROL "R", 3035, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 148, 7, 10, 12
 CONTROL "Apply", 3031, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 104, 28, 29, 10
 CONTROL "Cancel", 3033, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 135, 28, 29, 10
 LTEXT "By using this feature CPU utilization would be very high.", 3286, 6, 22, 92, 16
}
