385 DIALOGEX 0, 0, 286, 169, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Deinterlacing settings", 3304, 5, 3, 273, 44
 RTEXT "Method:", 3306, 12, 15, 125, 10
 COMBOBOX 3349, 140, 13, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Default field order (no de-inter.info.):", 3308, 12, 30, 125, 10
 COMBOBOX 3176, 140, 29, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Deinterlacing mode", 3310, 5, 50, 273, 44
 RTEXT "With anti-staggered information:", 3312, 12, 61, 125, 10
 COMBOBOX 3350, 140, 59, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Without anti-staggered information:", 3314, 12, 77, 125, 10
 COMBOBOX 3180, 140, 75, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "S/W deinterlacing settings", 3301, 5, 97, 273, 29
 RTEXT "Method:", 3302, 11, 110, 28, 10
 COMBOBOX 3351, 43, 108, 117, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "FSC:", 3316, 163, 110, 31, 10
 COMBOBOX 3352, 197, 108, 76, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "H/W deinterlacing settings", 3298, 5, 129, 273, 29
 RTEXT "Method:", 3299, 11, 142, 28, 10
 COMBOBOX 3107, 43, 140, 117, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "FSC:", 3300, 163, 142, 31, 10
 COMBOBOX 3172, 197, 140, 76, 137, CBS_DROPDOWNLIST | WS_VSCROLL
}
