393 DIALOGEX 0, 0, 222, 18, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg", 0, FALSE
{
 RTEXT "Encoding:", 3285, 5, 2, 46, 8
 COMBOBOX 3003, 54, 0, 155, 66, CBS_DROPDOWNLIST | WS_VSCROLL
}
