421 DIALOGEX 0, 0, 334, 284, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Built-in audio codec settings", 3382, 13, 20, 188, 236
 RTEXT "MP3:", 3208, 16, 33, 64, 8
 COMBOBOX 3005, 84, 31, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG1:", 3210, 16, 47, 64, 8
 COMBOBOX 3006, 84, 46, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG2:", 3212, 16, 63, 64, 8
 COMBOBOX 3008, 84, 61, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "AC3:", 3216, 16, 77, 64, 8
 COMBOBOX 3010, 84, 75, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Dynamic Range Compression (DRC)", 3040, 85, 89, 108, 10
 RTEXT "DTS:", 3220, 16, 104, 64, 8
 COMBOBOX 3012, 84, 102, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "DVD LPCM:", 3221, 16, 119, 64, 8
 COMBOBOX 3013, 84, 117, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "HDMV LPCM:", 3222, 16, 134, 64, 8
 COMBOBOX 3014, 84, 132, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "AAC:", 3224, 16, 149, 64, 8
 COMBOBOX 3015, 84, 147, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VORBIS:", 3228, 16, 163, 64, 8
 COMBOBOX 3018, 84, 162, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMA V1:", 3232, 16, 194, 64, 8
 COMBOBOX 3337, 84, 192, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMA V2:", 3390, 16, 208, 64, 8
 COMBOBOX 3334, 84, 207, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMA PRO:", 3395, 16, 223, 64, 8
 COMBOBOX 3335, 84, 222, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Real Audio:", 3397, 16, 239, 64, 8
 COMBOBOX 3338, 84, 238, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "FLAC:", 3396, 16, 178, 64, 8
 COMBOBOX 3336, 84, 177, 112, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Pass Through(S/PDIF, HDMI)", 3383, 207, 21, 112, 91
 AUTOCHECKBOX "AC3", 3047, 215, 31, 99, 10
 AUTOCHECKBOX "EAC3", 3048, 215, 41, 99, 10
 AUTOCHECKBOX "TrueHD", 3049, 215, 51, 99, 10
 AUTOCHECKBOX "DTS", 3052, 215, 61, 99, 10
 AUTOCHECKBOX "DTS-HD MA", 3050, 215, 71, 99, 10
 CONTROL "", 3385, "STATIC", SS_ETCHEDHORZ, 209, 84, 106, 1
 AUTOCHECKBOX "Use Compatibility mode", 3053, 215, 88, 99, 10
 AUTOCHECKBOX "Use IEC61937 format", 3054, 215, 98, 99, 10
}
