441 DIALOGEX 0, 0, 282, 98, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Language / Sync", 3401, 5, 3, 273, 45
 RTEXT "Preferred Language:", 3318, 11, 15, 67, 8
 EDITTEXT 3069, 81, 13, 192, 12, ES_AUTOHSCROLL
 RTEXT "Sync control unit (ms):", 3310, 8, 31, 70, 8
 EDITTEXT 3111, 81, 29, 37, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3250, "msctls_updown32", 0x000000B6, 105, 32, 10, 12
 AUTOCHECKBOX "Keep audio sync when playing the next file", 3380, 122, 31, 151, 10
 GROUPBOX "Other", 3402, 5, 51, 273, 36
 AUTOCHECKBOX "Voice Removal", 3378, 15, 62, 68, 10
 AUTOCHECKBOX "Voice Emphasis", 3379, 15, 73, 68, 10
}
