312 DIALOGEX 0, 0, 306, 230, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
EXSTYLE = WS_EX_TOOLWINDOW
FONT 9, "Arial", 0, FALSE
{
 COMBOBOX 3003, 12, 83, 283, 87, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3069, 12, 97, 283, 119, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
 CONTROL "Find Codec", 3021, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 239, 24, 55, 11
 CONTROL "Close", 1, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 239, 52, 55, 11
 LTEXT ".", 3191, 12, 23, 222, 41
 LTEXT "The following Pin(s) failed when rendering. (You can toggle the menu for more info)", 3382, 12, 73, 283, 10
 CONTROL "", 3199, "STATIC", SS_ETCHEDHORZ, 11, 69, 285, 1
 CONTROL "More information", 3024, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 239, 38, 55, 11
}
