321 DIALOGEX 0, 0, 224, 100, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 LTEXT "", 3381, 44, 34, 155, 40
 LTEXT "", 3382, 44, 82, 155, 14, NOT WS_VISIBLE
 ICON "", 3383, 20, 33, 18, 17, SS_CENTERIMAGE | SS_REALSIZEIMAGE
}
