329 DIALOGEX 0, 0, 168, 50, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_CONTROLPARENT
FONT 9, "Arial", 0, FALSE
{
 AUTOCHECKBOX "Show name", 3052, 78, 19, 72, 10
 AUTOCHECKBOX "Show playing time", 3057, 78, 29, 72, 10
 RTEXT "Select Location:", 3391, 0, 17, 70, 8
 AUTOCHECKBOX "Display %", 3061, 86, 40, 69, 10
}
