382 DIALOGEX 0, 0, 284, 219, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "DVD Settings", 3291, 5, 3, 273, 159, 0, WS_EX_TRANSPARENT
 RTEXT "Location:", 3297, 13, 14, 68, 8
 COMBOBOX 3007, 85, 12, 187, 148, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Custom Location:", 3298, 12, 31, 71, 8
 EDITTEXT 3069, 85, 28, 173, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 3021, 261, 28, 12, 12
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 44, 268, 1
 RTEXT "Menu Language:", 3287, 13, 51, 68, 8
 COMBOBOX 3003, 85, 49, 187, 148, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 RTEXT "Audio Language:", 3288, 13, 66, 68, 8
 COMBOBOX 3005, 85, 64, 187, 179, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 RTEXT "Subtitle Language:", 3289, 13, 81, 68, 8
 COMBOBOX 3006, 85, 79, 187, 172, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 AUTOCHECKBOX "Display DVD Subtitles", 3034, 86, 94, 176, 10
 RTEXT "Navigator:", 3290, 13, 108, 68, 8
 COMBOBOX 3008, 85, 106, 187, 172, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "CLSID:", 3292, 13, 124, 68, 8
 EDITTEXT 3070, 85, 122, 187, 12, ES_AUTOHSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 139, 268, 1
 RTEXT "Auto Resume:", 3299, 13, 146, 68, 8
 COMBOBOX 3009, 85, 144, 187, 172, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Blu-ray Settings", 3294, 5, 164, 273, 43, 0, WS_EX_TRANSPARENT
 RTEXT "Playback method:", 3296, 13, 176, 68, 8
 COMBOBOX 3004, 85, 174, 187, 148, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Min.chapter processing:", 3295, 7, 192, 77, 8
 EDITTEXT 3267, 85, 190, 45, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 168, 198, 11, 12
 LTEXT "Sec.", 3293, 133, 192, 20, 10
}
