427 DIALOGEX 0, 0, 284, 178, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Video Device", 3285, 5, 3, 273, 73, 0, WS_EX_TRANSPARENT
 RTEXT "Device:", 3286, 11, 15, 25, 8
 COMBOBOX 3003, 39, 13, 223, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "...", 3038, 264, 13, 11, 12
 RTEXT "Type:", 3287, 11, 32, 25, 8
 COMBOBOX 3005, 39, 29, 85, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Format:", 3294, 127, 32, 40, 8
 COMBOBOX 3008, 171, 29, 103, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Audio:", 3290, 11, 46, 25, 8
 COMBOBOX 3006, 39, 45, 85, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Search", 3024, 171, 45, 102, 12
 AUTOCHECKBOX "Skip to TV screens", 3035, 39, 62, 233, 10
 GROUPBOX "Audio Device", 3291, 5, 79, 273, 55, 0, WS_EX_TRANSPARENT
 RTEXT "Device:", 3292, 11, 89, 25, 8
 COMBOBOX 3016, 39, 88, 235, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Input:", 3293, 11, 106, 25, 8
 COMBOBOX 3019, 39, 104, 235, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "I want to hear the connection", 3034, 39, 119, 233, 10
 GROUPBOX "Advanced settings", 3295, 5, 137, 273, 28, 0, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Active TimeShift", 3040, 13, 149, 259, 10
}
