107 MENU
{
 POPUP "Menu"
 {
  MENUITEM "Show Camera 1", 10441, INACTIVE
  MENUITEM "Open", 10188
  MENUITEM "Hide", 10190
  MENUITEM "Current camera", 10189
  MENUITEM SEPARATOR
  MENUITEM "Show Camera 2", 10441, INACTIVE
  MENUITEM "Open", 10191
  MENUITEM "Hide", 10193
  MENUITEM "Current camera", 10192
  MENUITEM SEPARATOR
  MENUITEM "PIP Settings...", 10194
  MENUITEM SEPARATOR
  MENUITEM "Close capturing", 10167
 }
}
