301 DIALOGEX 0, 0, 255, 119, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 LTEXT "PotPlayer", 3382, 89, 8, 157, 9, SS_NOPREFIX
 LTEXT "Copyright (C) 2006-2013 Daum Communications Corp.", 3196, 29, 58, 192, 8
 LTEXT "Version : ", 3383, 89, 26, 157, 8, SS_NOPREFIX
 LTEXT "Date : ", 3384, 89, 37, 157, 8, SS_NOPREFIX
 LTEXT "All rights reserved.", 3187, 29, 68, 225, 8
 RTEXT "http://cafe.daum.net/pot-tool", 3199, 29, 78, 97, 8, SS_NOPREFIX
 EDITTEXT 3069, 173, 21, 47, 47, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL | WS_HSCROLL
 PUSHBUTTON "Contact us...", 3021, 98, 87, 61, 15
 ICON 100, 3201, 36, 21, 20, 20
}
