305 DIALOGEX 0, 0, 182, 132, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Video capture device", 3285, 4, 0, 170, 72, 0, WS_EX_TRANSPARENT
 RTEXT "Device:", 3286, 10, 12, 25, 8
 COMBOBOX 3003, 38, 10, 117, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "...", 3038, 158, 10, 11, 12
 RTEXT "Type:", 3287, 10, 29, 25, 8
 COMBOBOX 3005, 38, 26, 58, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 3008, 99, 26, 70, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Input:", 3288, 10, 43, 25, 8
 COMBOBOX 3009, 38, 41, 58, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Channel:", 3289, 101, 44, 29, 8
 EDITTEXT 3055, 132, 42, 37, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3248, "msctls_updown32", 0x00000036, 169, 41, 11, 14
 RTEXT "Audio:", 3290, 10, 58, 25, 8
 COMBOBOX 3006, 38, 56, 58, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Refresh", 3024, 99, 57, 34, 11
 PUSHBUTTON "Other set.", 3027, 136, 57, 34, 11
 GROUPBOX "Audio capture device", 3291, 4, 74, 170, 51, 0, WS_EX_TRANSPARENT
 RTEXT "Device:", 3292, 10, 84, 25, 8
 COMBOBOX 3016, 38, 83, 131, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Input:", 3293, 10, 100, 25, 8
 COMBOBOX 3019, 38, 98, 78, 146, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Preview audio", 3034, 14, 112, 154, 10
 PUSHBUTTON "Volume", 3021, 119, 99, 49, 11
}
