336 DIALOGEX 0, 0, 284, 241, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Extensions", 3286, 5, 3, 276, 62
 RTEXT "Video:", 3381, 12, 17, 36, 8
 EDITTEXT 3069, 51, 15, 205, 12, ES_AUTOHSCROLL
 PUSHBUTTON "D", 3038, 259, 15, 14, 11
 RTEXT "Audio:", 3382, 12, 33, 36, 8
 EDITTEXT 3077, 51, 31, 205, 12, ES_AUTOHSCROLL
 PUSHBUTTON "D", 3042, 259, 31, 14, 11
 RTEXT "Playlist:", 3383, 12, 49, 36, 8
 EDITTEXT 3085, 51, 47, 205, 12, ES_AUTOHSCROLL
 PUSHBUTTON "D", 3048, 259, 47, 14, 11
 GROUPBOX "Associations", 3285, 5, 68, 202, 163
 CONTROL "", 3242, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000090C, 9, 78, 61, 149
 RTEXT "Extension:", 3384, 78, 79, 37, 8
 EDITTEXT 3088, 118, 77, 85, 12, ES_AUTOHSCROLL
 RTEXT "Description:", 3385, 75, 94, 40, 8
 EDITTEXT 3095, 118, 93, 85, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Add", 3031, 74, 109, 32, 12
 PUSHBUTTON "Delete", 3033, 113, 109, 32, 12
 PUSHBUTTON "Change Icon...", 3027, 151, 109, 53, 12
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 74, 124, 130, 1
 PUSHBUTTON "Select Video Files", 3035, 74, 128, 66, 12
 PUSHBUTTON "Select Audio Files", 3054, 142, 128, 63, 12
 PUSHBUTTON "Select Subtitle Files", 3036, 74, 142, 66, 12
 PUSHBUTTON "Select Playlist Files", 3055, 142, 142, 63, 12
 PUSHBUTTON "Select All", 3021, 74, 156, 65, 12
 PUSHBUTTON "Select None", 3024, 142, 156, 63, 12
 PUSHBUTTON "Restore to Default", 3106, 74, 170, 65, 12
 PUSHBUTTON "Apply to System", 3029, 142, 170, 63, 12
 PUSHBUTTON "Clear and Rebuild the Icon Cache", 3117, 74, 184, 131, 12
 AUTOCHECKBOX "Add PotPlayer to folder context menu", 3110, 73, 198, 132, 10
 AUTOCHECKBOX "Add \"Add to\" to file context menu", 3111, 73, 208, 132, 10
 AUTOCHECKBOX "Add \"Play with\" to file context menu", 3112, 73, 218, 132, 10
 GROUPBOX "Auto Play", 3191, 210, 68, 71, 91
 AUTOCHECKBOX "Video files", 3057, 213, 78, 63, 10
 AUTOCHECKBOX "Audio files", 3061, 213, 89, 63, 10
 AUTOCHECKBOX "Audio CD", 3097, 213, 100, 63, 10
 AUTOCHECKBOX "VCD", 3098, 213, 111, 63, 10
 AUTOCHECKBOX "SVCD", 3099, 213, 122, 63, 10
 AUTOCHECKBOX "DVD", 3066, 213, 133, 63, 10
 AUTOCHECKBOX "Blu-ray", 3067, 213, 144, 63, 10
 GROUPBOX "Default Programs", 3192, 210, 165, 71, 66
 LTEXT "Win7 requires that you set default apps for file extension associations.", 3386, 212, 174, 68, 36
 PUSHBUTTON "Run Control Panel", 3118, 213, 212, 64, 12
}
