343 DIALOGEX 0, 0, 181, 211, 0
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_CONTROLPARENT
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Save Directory", 3285, 3, 6, 172, 28, 0, WS_EX_TRANSPARENT
 EDITTEXT 3069, 8, 17, 145, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 3021, 155, 17, 15, 11
 GROUPBOX "Record Settings", 3286, 3, 37, 172, 77, 0, WS_EX_TRANSPARENT
 RTEXT "File Format:", 3294, 8, 48, 50, 8
 COMBOBOX 3003, 62, 46, 108, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 6, 62, 167, 2
 AUTORADIOBUTTON "Suspended by time", 3209, 13, 66, 73, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Suspended by byte", 3211, 93, 65, 73, 10, NOT WS_TABSTOP
 EDITTEXT 3077, 25, 78, 35, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3248, "msctls_updown32", 0x000000B6, 53, 79, 11, 12
 LTEXT "Min.", 3287, 62, 80, 20, 8
 EDITTEXT 3088, 104, 78, 40, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3249, "msctls_updown32", 0x000000B6, 137, 77, 11, 12
 LTEXT "MB", 3288, 148, 80, 20, 8
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 6, 94, 167, 2
 AUTOCHECKBOX "Auto start recording when broadcasting is started", 3034, 6, 99, 167, 10
 GROUPBOX "Info", 3289, 3, 116, 172, 80, 0, WS_EX_TRANSPARENT
 RTEXT "File name:", 3290, 9, 127, 36, 8
 EDITTEXT 3082, 49, 127, 119, 12, ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 6, 140, 167, 2
 RTEXT "Storage time:", 3291, 8, 148, 39, 8
 LTEXT "00:00:00", 3381, 52, 148, 36, 8
 RTEXT "Storage Size:", 3292, 91, 148, 32, 8
 LTEXT "10 MB", 3382, 128, 148, 41, 8
 RTEXT "Remaining disk capacity:", 3293, 12, 161, 111, 8
 LTEXT "10 MB", 3383, 128, 161, 41, 8
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 6, 172, 167, 2
 PUSHBUTTON "Open Folder", 3038, 8, 179, 63, 11
 PUSHBUTTON "Start", 3042, 115, 179, 55, 11, WS_DISABLED
}
