353 DIALOGEX 0, 0, 284, 223, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Subtitle settings", 3285, 5, 3, 273, 133
 RTEXT "Subtitles Output:", 3314, 11, 15, 74, 8
 COMBOBOX 3003, 88, 13, 185, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Font rendering:", 3316, 11, 30, 74, 8
 COMBOBOX 3005, 88, 28, 185, 74, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "ASS/SSA subtitle style:", 3318, 11, 44, 74, 8
 COMBOBOX 3008, 88, 43, 185, 74, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 59, 268, 1
 AUTOCHECKBOX "Show subtitles", 3040, 13, 62, 127, 10
 AUTOCHECKBOX "VMR/EVR subtitle smoother", 3119, 13, 72, 127, 10
 AUTOCHECKBOX "Correct ratio of image subtitle", 3066, 13, 82, 127, 10
 AUTOCHECKBOX "Load subs in folder if no matching one", 3067, 13, 92, 132, 10
 AUTOCHECKBOX "Force left-aligned", 3124, 13, 102, 127, 10
 AUTOCHECKBOX "Ignore <font> tag", 3127, 13, 112, 127, 10
 AUTOCHECKBOX "Ignore all tags ", 3125, 13, 122, 127, 10
 AUTOCHECKBOX "Display subtitles over video image", 3057, 145, 62, 126, 10
 AUTOCHECKBOX "Display subtitles under video image", 3113, 145, 72, 130, 10
 AUTOCHECKBOX "Apply IDX/SUB custom position", 3123, 145, 82, 126, 10
 AUTOCHECKBOX "ASS/SSA subtitles animations", 3053, 145, 92, 126, 10
 AUTOCHECKBOX "Auto add <BR> tag to SMI subtitles", 3047, 145, 102, 126, 10
 AUTOCHECKBOX "Ignore <BR> tag in SMI subtitles", 3048, 145, 112, 126, 10
 AUTOCHECKBOX "Add a line break when sub.only 1 line", 3126, 145, 122, 130, 10
 GROUPBOX "Subtitles Fade effect", 3383, 5, 140, 273, 29
 AUTOCHECKBOX "Enable", 3339, 13, 151, 34, 10
 RTEXT "Appear:", 3311, 53, 152, 51, 8
 EDITTEXT 3112, 107, 151, 35, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3251, "msctls_updown32", 0x000000B6, 128, 158, 10, 12
 LTEXT "%", 3315, 145, 153, 16, 8
 RTEXT "Disappear:", 3313, 166, 152, 51, 8
 EDITTEXT 3114, 220, 151, 35, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3252, "msctls_updown32", 0x000000B6, 246, 156, 10, 12
 LTEXT "%", 3317, 258, 153, 16, 8
 GROUPBOX "3D Subtitle (stereoscopic)", 3384, 5, 171, 273, 42
 RTEXT "3D Mode:", 3322, 10, 182, 42, 8
 COMBOBOX 3007, 57, 180, 111, 74, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Size Method:", 3321, 10, 198, 42, 8
 COMBOBOX 3006, 57, 196, 111, 74, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Width Depth:", 3324, 172, 182, 49, 8
 EDITTEXT 3116, 224, 180, 31, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3254, "msctls_updown32", 0x000000B6, 243, 189, 10, 12
 LTEXT "Pixel", 3323, 258, 182, 16, 8
 RTEXT "Height Depth:", 3326, 172, 198, 49, 8
 EDITTEXT 3117, 224, 196, 31, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 246, 206, 10, 12
 LTEXT "Pixel", 3325, 258, 198, 16, 8
}
