355 DIALOGEX 0, 0, 286, 236, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Video Renderer", 3383, 5, 3, 273, 29
 RTEXT "Video Renderer:", 3294, 11, 15, 84, 8
 COMBOBOX 3036, 98, 14, 175, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "VMR9 Renderless/EVR Custom Present Settings", 3381, 5, 35, 273, 131
 RTEXT "VMR Renderless Setup:", 3292, 11, 47, 84, 8
 COMBOBOX 3081, 98, 46, 175, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VMR9/EVR scaler:", 3291, 11, 64, 84, 8
 COMBOBOX 3073, 98, 62, 96, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "EVR buffer:", 3296, 197, 65, 39, 8
 COMBOBOX 3074, 237, 63, 36, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Direct3D 9Ex:", 3297, 11, 81, 84, 8
 COMBOBOX 3075, 98, 79, 175, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Fullscreen exclusive mode:", 3293, 8, 97, 88, 8
 COMBOBOX 3341, 98, 95, 175, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Hide mouse cursor", 3061, 99, 110, 173, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 123, 269, 1
 AUTOCHECKBOX "Generate texture applied to two-ch.", 3057, 12, 128, 130, 10
 AUTOCHECKBOX "VMR9 mixing mode", 3040, 12, 139, 128, 10
 AUTOCHECKBOX "YUV mixing mode", 3044, 22, 150, 116, 10
 AUTOCHECKBOX "Fix broken VSync (Tearing) in VMR9", 3047, 145, 128, 127, 10
 AUTOCHECKBOX "EVR 16 ~ 235 level output", 3052, 145, 139, 128, 10
 AUTOCHECKBOX "Don't init. the display config. changes", 3342, 145, 150, 131, 10
 GROUPBOX "OverlayMixer Settings", 3382, 5, 170, 273, 50
 RTEXT "Color:", 3295, 11, 183, 50, 9
 COMBOBOX 3343, 65, 181, 193, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", 3213, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 262, 181, 12, 12, WS_EX_DLGMODALFRAME
 AUTOCHECKBOX "Exclusive screen mode (To resolve some display problem with DXVA)", 3066, 12, 197, 261, 18, BS_MULTILINE
}
