358 DIALOGEX 0, 0, 284, 218, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Playback Settings", 3285, 5, 3, 273, 155
 RTEXT "Screen size:", 3286, 9, 15, 60, 8
 COMBOBOX 3005, 72, 13, 110, 77, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3273, 186, 13, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3259, "msctls_updown32", 0x000000B6, 219, 19, 10, 12
 LTEXT "x", 3292, 228, 14, 8, 8
 EDITTEXT 3275, 237, 13, 36, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3261, "msctls_updown32", 0x000000B6, 268, 19, 10, 12
 AUTOCHECKBOX "Place window to screen center while starting video playback", 3084, 73, 27, 205, 10
 RTEXT "Process priority:", 3287, 9, 42, 60, 8
 COMBOBOX 3006, 72, 40, 201, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Audio speed mode:", 3236, 7, 58, 63, 8
 COMBOBOX 3014, 72, 56, 201, 116, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Repeat:", 3237, 9, 74, 60, 8
 COMBOBOX 3015, 72, 72, 201, 116, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 89, 268, 3
 AUTOCHECKBOX "Open a file using thread to fix freeze", 3094, 11, 94, 136, 10
 AUTOCHECKBOX "Auto load external audio files", 3110, 11, 104, 136, 10
 AUTOCHECKBOX "Load previous/next files in play folder", 3068, 11, 114, 136, 10
 AUTOCHECKBOX "Play the next item when failed to play", 3064, 11, 124, 136, 10
 AUTOCHECKBOX "Auto toggle play/pause", 3065, 11, 134, 136, 10
 AUTOCHECKBOX "Use embedded rotation info", 3067, 11, 144, 136, 10
 AUTOCHECKBOX "Prevent Screen Saver", 3083, 149, 94, 115, 10
 AUTOCHECKBOX "Hide mouse cursor during playback", 3089, 149, 104, 126, 10
 AUTOCHECKBOX "Remember playback position", 3061, 149, 114, 115, 10
 AUTOCHECKBOX "Shuffle Play", 3113, 149, 124, 115, 10
 AUTOCHECKBOX "Auto close the last file on complete", 3124, 149, 134, 126, 10
 GROUPBOX "On Navigation Bar (Progress Bar)", 3288, 5, 162, 273, 43
 AUTOCHECKBOX "Show thumbnail previews", 3066, 11, 171, 136, 10
 AUTOCHECKBOX "Align at the top of bookmark/chapter", 3069, 19, 181, 128, 10
 AUTOCHECKBOX "Include timeinfo in preview", 3070, 19, 191, 128, 10
 AUTOCHECKBOX "Show bookmark/chapter marks", 3063, 149, 171, 126, 10
 AUTOCHECKBOX "Show timeinfo on tooltip", 3062, 149, 181, 123, 10
}
