359 DIALOGEX 0, 0, 283, 214, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Custom Filter Manager", 3311, 5, 2, 273, 166
 CONTROL "", 3242, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00004809, 12, 12, 181, 147
 PUSHBUTTON "Add registered filter", 3021, 198, 12, 75, 13
 PUSHBUTTON "Add external filter...", 3031, 198, 28, 75, 13
 PUSHBUTTON "Delete", 3033, 198, 44, 75, 13
 PUSHBUTTON "Filter Information", 3109, 198, 60, 75, 13
 PUSHBUTTON "Up", 3035, 198, 76, 37, 13
 PUSHBUTTON "Down", 3114, 237, 76, 36, 13
 GROUPBOX "Priority", 3381, 198, 95, 73, 64
 AUTORADIOBUTTON "Block", 3209, 204, 105, 64, 10, WS_DISABLED | NOT WS_TABSTOP
 AUTORADIOBUTTON "Prefer", 3211, 204, 117, 64, 10, WS_DISABLED | NOT WS_TABSTOP
 AUTORADIOBUTTON "Set merit:", 3214, 204, 129, 64, 10, WS_DISABLED | NOT WS_TABSTOP
 EDITTEXT 3069, 211, 141, 55, 12, ES_AUTOHSCROLL | WS_DISABLED
}
