362 DIALOGEX 0, 0, 284, 230, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Information", 3315, 5, 4, 273, 56
 LTEXT "Here you can disable or enable the Built-in Video/Audio Processing filters.The following terms and conditions of use for external codecs or uncompressed (Raw) formats only makes sense for playback.In addition,it is necessary that you always use the built-in filters for video/audio processing of various functions such as capture if there is no particular problem.", 3196, 10, 13, 263, 41
 GROUPBOX "Built-in Video processing filter settings", 3313, 5, 61, 273, 115
 RTEXT "Condition:", 3208, 17, 74, 44, 8
 COMBOBOX 3005, 65, 72, 207, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Fourcc", 3041, 12, 89, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3069, 118, 88, 153, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Extension", 3042, 12, 105, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3070, 118, 104, 153, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Frame Rate", 3043, 12, 121, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3267, 119, 120, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 145, 125, 10, 12
 AUTOCHECKBOX "Resolution", 3045, 12, 137, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3268, 119, 136, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3256, "msctls_updown32", 0x000000B6, 143, 142, 10, 12
 CTEXT "X", 3197, 165, 137, 8, 10
 EDITTEXT 3269, 177, 136, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3257, "msctls_updown32", 0x000000B6, 210, 145, 10, 12
 COMBOBOX 3006, 225, 136, 45, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "If there are no subtitles", 3046, 12, 151, 102, 10, BS_TOP | BS_MULTILINE
 AUTOCHECKBOX "Use built-in video stream switcher", 3048, 12, 163, 259, 10, BS_TOP | BS_MULTILINE
 GROUPBOX "Built-in Audio processing filter settings", 3314, 5, 181, 273, 35
 AUTOCHECKBOX "Use built-in audio processing filter (Recommended)", 3044, 12, 192, 259, 10, BS_TOP | BS_MULTILINE
 AUTOCHECKBOX "Use built-in audio stream switcher", 3047, 12, 203, 259, 10, BS_TOP | BS_MULTILINE
}
