362 DIALOGEX 0, 0, 284, 219, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Built-in Video processing filter settings", 3313, 5, 3, 273, 134
 LTEXT "All video processing of PotPlayer will not work without PotPlayer Built-in filter.Disable it with high resolution.", 3194, 12, 15, 251, 22
 RTEXT "Condition:", 3208, 17, 42, 44, 8
 COMBOBOX 3005, 65, 40, 207, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Fourcc", 3041, 12, 59, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3069, 118, 58, 153, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Extension", 3042, 12, 75, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3070, 118, 74, 153, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Frame Rate", 3043, 12, 91, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3267, 119, 90, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3255, "msctls_updown32", 0x000000B6, 145, 95, 10, 12
 AUTOCHECKBOX "Resolution", 3045, 12, 107, 102, 10, BS_TOP | BS_MULTILINE
 EDITTEXT 3268, 119, 106, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3256, "msctls_updown32", 0x000000B6, 143, 112, 10, 12
 CTEXT "X", 3197, 165, 107, 8, 10
 EDITTEXT 3269, 177, 106, 42, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3257, "msctls_updown32", 0x000000B6, 210, 115, 10, 12
 COMBOBOX 3006, 225, 106, 45, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "If there are no subtitles", 3046, 12, 121, 102, 10, BS_TOP | BS_MULTILINE
 GROUPBOX "Built-in Audio processing filter settings", 3314, 5, 141, 273, 57
 LTEXT "All kind of audio filters or sound effect of PotPlayer will not work without PotPlayer Built-in filter.It is recommended to use it by default.", 3195, 12, 152, 251, 22
 AUTOCHECKBOX "Use audio processing filter (Recommended)", 3044, 12, 172, 259, 10, BS_TOP | BS_MULTILINE
 AUTOCHECKBOX "Use audio processing filter with stream switcher support", 3047, 12, 183, 259, 10, BS_TOP | BS_MULTILINE
}
