366 DIALOGEX 0, 0, 283, 239, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Mouse Settings", 3381, 5, 3, 273, 227
 AUTOCHECKBOX "Operate in the video area only", 3034, 14, 15, 256, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 29, 269, 1
 LTEXT "", 3382, 11, 35, 261, 191
}
