366 DIALOGEX 0, 0, 283, 184, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Mouse Settings", 3381, 5, 3, 273, 162
 AUTOCHECKBOX "Operate in the video area only", 3034, 14, 15, 256, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 29, 269, 1
 RTEXT "Left button - single click:", 3382, 14, 36, 119, 8
 COMBOBOX 3003, 137, 34, 135, 83, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Left button - double click:", 3383, 14, 52, 119, 8
 COMBOBOX 3005, 137, 50, 135, 95, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Right mouse button:", 3385, 14, 68, 119, 8
 COMBOBOX 3008, 137, 66, 135, 98, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Center button - single click:", 3384, 14, 84, 119, 8
 COMBOBOX 3006, 137, 82, 135, 104, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Whell scroll - up:", 3386, 14, 100, 119, 8
 COMBOBOX 3010, 137, 98, 135, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Wheel scrool - down:", 3387, 14, 116, 119, 8
 COMBOBOX 3012, 137, 114, 135, 116, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Mouse X button - 1:", 3389, 14, 132, 119, 8
 COMBOBOX 3014, 137, 130, 135, 126, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Mouse X button - 2:", 3391, 14, 148, 119, 8
 COMBOBOX 3017, 137, 146, 135, 119, CBS_DROPDOWNLIST | WS_VSCROLL
}
