368 DIALOGEX 0, 0, 284, 226, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Folder Settings", 3381, 5, 3, 273, 204
 LTEXT "PotPlayer will search the user-specified paths first for matching subtitles.", 3383, 11, 14, 263, 9
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x000010A0, 10, 27, 219, 165
 AUTOCHECKBOX "Find subtitles first in the above folder(s)", 3034, 10, 194, 218, 10
 PUSHBUTTON "Add", 3021, 233, 27, 40, 12
 PUSHBUTTON "Delete", 3024, 233, 41, 40, 12
 PUSHBUTTON "Up", 3022, 233, 55, 40, 12
 PUSHBUTTON "Down", 3025, 233, 69, 40, 12
}
