375 DIALOGEX 0, 0, 284, 235, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "General info settings", 3191, 5, 3, 273, 92, 0, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Display general info messages", 3057, 11, 13, 123, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 26, 269, 1
 RTEXT "Display method:", 3296, 8, 33, 52, 8
 COMBOBOX 3014, 62, 31, 119, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Horizontal align:", 3292, 7, 49, 52, 8
 COMBOBOX 3013, 62, 47, 35, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Vertical align:", 3290, 99, 49, 43, 8
 COMBOBOX 3005, 143, 47, 38, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Top margin:", 3289, 16, 65, 43, 8
 EDITTEXT 3099, 62, 63, 35, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 75, 64, 10, 14
 RTEXT "Right margin:", 3288, 99, 65, 43, 8
 EDITTEXT 3095, 143, 63, 39, 15, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 177, 68, 10, 14
 PUSHBUTTON "Font", 3021, 184, 31, 89, 13
 RTEXT "Fixed font size:", 3287, 187, 49, 50, 8
 EDITTEXT 3088, 240, 47, 32, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 268, 49, 10, 14
 AUTOCHECKBOX "Auto font size", 3040, 184, 63, 87, 10, 0, WS_EX_RIGHT
 RTEXT "Font color:", 3291, 16, 81, 43, 8
 CONTROL "", 3213, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 62, 79, 12, 12, WS_EX_DLGMODALFRAME
 RTEXT "Outline color:", 3295, 99, 81, 43, 8
 CONTROL "", 3214, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 143, 79, 12, 12, WS_EX_DLGMODALFRAME
 GROUPBOX "Time info settings (Scroll Lock)", 3194, 5, 99, 273, 87, 0, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Display time information", 3061, 12, 109, 162, 10
 AUTOCHECKBOX "Display only when in fullscreen mode", 3047, 21, 120, 152, 10
 COMBOBOX 3016, 64, 138, 120, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Show \"%\" mark", 3052, 186, 139, 84, 10
 AUTOCHECKBOX "Show filename", 3044, 65, 171, 83, 10
 COMBOBOX 3003, 64, 155, 120, 30, CBS_DROPDOWN | WS_VSCROLL
 AUTOCHECKBOX "Display only in fullscreen", 3045, 186, 156, 89, 10
 RTEXT "Time method:", 3293, 11, 140, 50, 8
 RTEXT "Time format:", 3294, 11, 157, 50, 8
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 133, 269, 1
 AUTOCHECKBOX "Show power status", 3046, 152, 171, 83, 10
 GROUPBOX "Short info settings (Shift+Tab)", 3195, 5, 189, 273, 37, 0, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Show filename", 3048, 12, 200, 83, 10
 AUTOCHECKBOX "Show subtitle name", 3049, 101, 200, 85, 10
 AUTOCHECKBOX "Show playback time", 3050, 188, 200, 83, 10
 AUTOCHECKBOX "Show chapter mark", 3051, 12, 211, 83, 10
 AUTOCHECKBOX "Show codec info", 3053, 101, 211, 83, 10
}
