377 DIALOGEX 0, 0, 286, 206, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Configuration Management", 3292, 5, -1, 273, 190
 CONTROL "", 3315, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x00001028, 12, 14, 171, 121
 PUSHBUTTON "New preset", 3021, 189, 14, 83, 12
 PUSHBUTTON "Current preset", 3024, 189, 29, 83, 12
 PUSHBUTTON "Active selected preset", 3121, 189, 44, 83, 12
 PUSHBUTTON "Move Up", 3029, 189, 59, 83, 12
 PUSHBUTTON "Move down", 3033, 189, 74, 83, 12
 PUSHBUTTON "Rename", 3027, 189, 89, 83, 12
 PUSHBUTTON "Delete", 3031, 189, 104, 83, 12
 PUSHBUTTON "Auto Select Conditions...", 3032, 189, 119, 83, 12
 AUTOCHECKBOX "Reopen current file when a preset is manually switched", 3034, 15, 141, 251, 10
 AUTOCHECKBOX "When switching a preset, copy it to the default configuration preset", 3040, 15, 153, 251, 11
 AUTOCHECKBOX "Switch back to the previous preset when closing file", 3083, 15, 165, 251, 10
 AUTOCHECKBOX "Start The PotPlayer with Default Preset", 3104, 15, 177, 251, 10
}
