385 DIALOGEX 0, 0, 286, 186, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Settings for Deinterlacing", 3304, 5, 3, 273, 60
 RTEXT "Method:", 3306, 12, 15, 125, 10
 COMBOBOX 3349, 140, 13, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Field priority (When no interlaced flag):", 3308, 9, 30, 127, 10
 COMBOBOX 3176, 140, 29, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Swap field (Top <-> Bottom Field):", 3309, 12, 46, 125, 10
 COMBOBOX 3177, 140, 44, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Deinterlacing Method", 3310, 5, 66, 273, 44
 RTEXT "When there is a interlaced flag:", 3312, 12, 77, 125, 10
 COMBOBOX 3350, 140, 75, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "When there is no interlaced flag:", 3314, 12, 93, 125, 10
 COMBOBOX 3180, 140, 91, 133, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Settings for S/W Deinterlacing", 3301, 5, 113, 273, 29
 RTEXT "Method:", 3302, 11, 126, 28, 10
 COMBOBOX 3351, 43, 124, 117, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Field order:", 3316, 162, 126, 38, 10
 COMBOBOX 3352, 200, 124, 76, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Settings for H/W Deinterlacing", 3298, 5, 145, 273, 29
 RTEXT "Method:", 3299, 11, 158, 28, 10
 COMBOBOX 3107, 43, 156, 117, 137, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Field order:", 3300, 161, 158, 39, 10
 COMBOBOX 3172, 201, 156, 76, 137, CBS_DROPDOWNLIST | WS_VSCROLL
}
