422 DIALOGEX 0, 0, 239, 188, 0
STYLE DS_SETFONT | WS_POPUP | WS_SYSMENU
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "General settings", 3286, 14, 24, 211, 58
 RTEXT "Cache Size:", 3285, 27, 38, 63, 8
 EDITTEXT 3111, 93, 36, 55, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3250, "msctls_updown32", 0x000000B6, 143, 46, 10, 12
 LTEXT "KB", 3312, 151, 38, 22, 8
 PUSHBUTTON "Default", 3021, 175, 35, 44, 14
 CONTROL "", 3199, "STATIC", SS_ETCHEDHORZ, 18, 53, 205, 1
 AUTOCHECKBOX "Multiple audio output", 3035, 22, 57, 197, 10, BS_MULTILINE
 AUTOCHECKBOX "Load embedded fonts", 3039, 22, 68, 197, 10, BS_MULTILINE
 GROUPBOX "MPEG 1/PS/TS", 3287, 14, 88, 211, 69
 AUTOCHECKBOX "H264 to AVC1 (You may use DXVA with VMR9 Renderless mode when using Cyberlink AVC Decoder)", 3034, 22, 99, 193, 22, BS_MULTILINE
 AUTOCHECKBOX "Process all PTS media stream time", 3036, 22, 119, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Process TrueHD + AC3 stream as TrueHD", 3037, 22, 130, 193, 9, BS_MULTILINE
 AUTOCHECKBOX "Use fast seek (on VBR (variable bit-rate) encoded files)", 3038, 22, 141, 193, 9, BS_MULTILINE
}
