423 DIALOGEX 0, 0, 397, 321, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "General Settings", 3383, 14, 22, 173, 45
 AUTOCHECKBOX "Use output queue", 3097, 21, 31, 160, 10
 AUTOCHECKBOX "Reduce video frame rate to adapt the receiver", 3098, 21, 41, 160, 10
 AUTOCHECKBOX "Recognition TV and movie interlacing", 3099, 21, 51, 160, 10
 GROUPBOX "Decoder", 3384, 15, 70, 173, 210
 GROUPBOX "Hardware acceleration (DXVA) settings", 3382, 194, 22, 188, 271
 AUTOCHECKBOX "Use DXVA", 3036, 201, 33, 175, 9
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 199, 45, 181, 1
 RTEXT "Resolution limit:", 3233, 198, 51, 61, 8
 COMBOBOX 3024, 263, 49, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3088, 263, 79, 33, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 283, 87, 10, 14
 CTEXT "X", 3197, 297, 81, 8, 10
 EDITTEXT 3095, 308, 79, 33, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 325, 85, 10, 14
 COMBOBOX 3003, 345, 79, 32, 53, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "H264 compatibility:", 3231, 198, 96, 61, 8
 COMBOBOX 3019, 263, 94, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 198, 110, 181, 1
 RTEXT "H264:", 3224, 198, 117, 61, 8
 COMBOBOX 3015, 263, 115, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "AVC1:", 3228, 198, 132, 61, 8
 COMBOBOX 3018, 263, 130, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG1:", 3208, 198, 147, 61, 8
 COMBOBOX 3005, 263, 145, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG2:", 3210, 198, 162, 61, 8
 COMBOBOX 3006, 263, 160, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG4:", 3229, 198, 177, 61, 8
 COMBOBOX 3023, 263, 175, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV2:", 3212, 198, 192, 61, 8
 COMBOBOX 3008, 263, 190, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV3:", 3216, 198, 207, 61, 8
 COMBOBOX 3010, 263, 205, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VC1:", 3220, 198, 222, 61, 8
 COMBOBOX 3012, 263, 220, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", 3285, "STATIC", SS_ETCHEDHORZ, 198, 236, 181, 1
 AUTOCHECKBOX "Use DXVA2 Copy-Back Mode", 3035, 201, 240, 175, 9
 LTEXT "A.k.a. DXVA Renderless Mode which requires at least Windows Vista, its a little slower than the native DXVA but all video processing can be used with it.", 3195, 210, 251, 166, 34
 LTEXT "", 3381, 20, 82, 163, 193
 EDITTEXT 3089, 263, 64, 33, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3264, "msctls_updown32", 0x000000B6, 284, 72, 10, 14
 CTEXT "X", 3199, 297, 67, 8, 10
 EDITTEXT 3096, 308, 64, 33, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3265, "msctls_updown32", 0x000000B6, 326, 70, 10, 14
 COMBOBOX 3004, 345, 64, 32, 53, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Custom Size:", 3200, 198, 66, 61, 9
 RTEXT "~", 3201, 198, 80, 61, 9
}
