423 DIALOGEX 0, 0, 397, 336, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "General Settings", 3383, 14, 22, 173, 45
 AUTOCHECKBOX "Use output queue", 3097, 21, 31, 160, 10
 AUTOCHECKBOX "Reduce video frame rate to adapt the receiver", 3098, 21, 41, 160, 10
 AUTOCHECKBOX "Recognition TV and movie interlacing", 3099, 21, 51, 160, 10
 GROUPBOX "Decoder", 3384, 15, 70, 173, 239
 RTEXT "H264/AVC1:", 3209, 22, 82, 45, 8
 COMBOBOX 3007, 70, 80, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG1:", 3225, 22, 96, 45, 8
 COMBOBOX 3025, 70, 95, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG2:", 3226, 22, 111, 45, 8
 COMBOBOX 3026, 70, 110, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG4:", 3221, 22, 126, 45, 8
 COMBOBOX 3021, 70, 125, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "DV:", 3227, 22, 142, 45, 8
 COMBOBOX 3027, 70, 140, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "FFmpeg V1:", 3230, 22, 156, 45, 8
 COMBOBOX 3028, 70, 155, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "THEORA:", 3219, 22, 171, 45, 8
 COMBOBOX 3020, 70, 170, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VP3:", 3218, 22, 186, 45, 8
 COMBOBOX 3017, 70, 185, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VP8:", 3217, 22, 202, 45, 8
 COMBOBOX 3016, 70, 200, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "HUFFYUV:", 3222, 22, 217, 45, 8
 COMBOBOX 3022, 70, 215, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV1:", 3211, 22, 232, 45, 8
 COMBOBOX 3009, 70, 230, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV2:", 3213, 22, 247, 45, 8
 COMBOBOX 3011, 70, 245, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV3:", 3214, 22, 262, 45, 8
 COMBOBOX 3013, 70, 260, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VC1:", 3215, 22, 277, 45, 8
 COMBOBOX 3014, 70, 275, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Real Video:", 3223, 23, 291, 45, 8
 COMBOBOX 3029, 70, 290, 113, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Hardware acceleration (DXVA) settings", 3382, 194, 23, 188, 271
 AUTOCHECKBOX "Use DXVA", 3036, 201, 33, 175, 9
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 199, 45, 181, 1
 RTEXT "Resolution limit:", 3233, 198, 51, 61, 8
 COMBOBOX 3024, 263, 49, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Custom:", 3196, 198, 69, 61, 9
 EDITTEXT 3088, 262, 66, 33, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3262, "msctls_updown32", 0x000000B6, 283, 74, 10, 14
 CTEXT "X", 3197, 296, 68, 8, 10
 EDITTEXT 3095, 307, 66, 33, 12, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3263, "msctls_updown32", 0x000000B6, 325, 72, 10, 14
 COMBOBOX 3003, 342, 66, 35, 53, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "H264 compatibility:", 3231, 198, 84, 61, 8
 COMBOBOX 3019, 263, 82, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 198, 99, 181, 1
 RTEXT "H264:", 3224, 198, 106, 61, 8
 COMBOBOX 3015, 263, 105, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "AVC1:", 3228, 198, 123, 61, 8
 COMBOBOX 3018, 263, 121, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG1:", 3208, 198, 139, 61, 8
 COMBOBOX 3005, 263, 137, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG2:", 3210, 198, 155, 61, 8
 COMBOBOX 3006, 263, 153, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "MPEG4:", 3229, 198, 171, 61, 8
 COMBOBOX 3023, 263, 169, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV2:", 3212, 198, 188, 61, 8
 COMBOBOX 3008, 263, 185, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "WMV3:", 3216, 198, 203, 61, 8
 COMBOBOX 3010, 263, 201, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "VC1:", 3220, 198, 219, 61, 8
 COMBOBOX 3012, 263, 217, 115, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", 3285, "STATIC", SS_ETCHEDHORZ, 198, 233, 181, 1
 AUTOCHECKBOX "Use Self DXVA", 3035, 201, 239, 175, 9
 LTEXT "A.k.a. DXVA Renderless Mode which requires at least Windows Vista, its a little slower than the native DXVA but all video processing can be used with it.", 3195, 210, 250, 166, 34
}
