426 DIALOGEX 0, 0, 309, 289, 0
STYLE DS_SETFONT | WS_POPUP
EXSTYLE = WS_EX_CONTROLPARENT
FONT 9, "Arial", 0, FALSE
{
 PUSHBUTTON "Screen Capture", 3039, 10, 14, 54, 14
 PUSHBUTTON "Webcam", 3038, 67, 14, 52, 14
 PUSHBUTTON "Analog TV", 3024, 121, 14, 52, 14
 PUSHBUTTON "Digital TV", 3025, 176, 14, 52, 14
 PUSHBUTTON "DVD/Blu-ray", 3026, 230, 14, 56, 14
 CONTROL "", 3380, "SysTabControl32", 0, 7, 37, 275, 249
 PUSHBUTTON "Open device (&O)", 3035, 7, 288, 69, 14
}
