434 DIALOGEX 0, 0, 283, 114, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "On Screen Control", 3383, 5, 3, 273, 103
 RTEXT "Method:", 3292, 11, 17, 65, 8
 COMBOBOX 3005, 81, 16, 189, 77, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Disable autohide of OSC while mouse is over it", 3034, 83, 33, 185, 10
 RTEXT "Transparency (%d%%):", 3285, 7, 45, 75, 8
 CONTROL "", 3043, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 79, 45, 189, 10
 LTEXT "", 3291, 7, 60, 265, 33
}
