442 DIALOGEX 0, 0, 284, 109, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Language", 3382, 5, 3, 273, 50
 RTEXT "Preferred Lang.:", 3318, 12, 15, 55, 8
 EDITTEXT 3069, 69, 13, 204, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Enable when first displayed in multiple languages ", 3044, 69, 28, 202, 10
 AUTOCHECKBOX "Disable when does not exist in the subtitles", 3061, 69, 39, 202, 10
 GROUPBOX "Sync / Other", 3383, 4, 56, 273, 45
 RTEXT "Sync control unit:", 3310, 9, 66, 66, 8
 EDITTEXT 3111, 77, 64, 35, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3250, "msctls_updown32", 0x000000B6, 97, 69, 10, 12
 LTEXT "Sec.", 3312, 115, 66, 16, 8
 AUTOCHECKBOX "Keep sync when playing the next file", 3380, 134, 65, 136, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 8, 79, 265, 1
 RTEXT "Showing period:", 3319, 9, 85, 66, 8
 EDITTEXT 3115, 77, 83, 35, 12, ES_RIGHT | ES_AUTOHSCROLL
 CONTROL "", 3253, "msctls_updown32", 0x000000B6, 100, 88, 10, 12
 LTEXT "Sec.", 3320, 115, 85, 16, 8
 AUTOCHECKBOX "Process only if the next subtitle is empty", 3381, 134, 83, 144, 10
}
