447 DIALOGEX 0, 0, 283, 166, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Touch Settings", 3381, 5, 3, 273, 147
 AUTOCHECKBOX "Enable Touch Feature (It requires at least Windows 7)", 3035, 13, 14, 258, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 27, 269, 1
 RTEXT "Pan left:", 3382, 14, 34, 119, 8
 COMBOBOX 3003, 137, 32, 135, 83, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Pan right:", 3383, 14, 50, 119, 8
 COMBOBOX 3005, 137, 48, 135, 95, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Pan up:", 3385, 14, 66, 119, 8
 COMBOBOX 3008, 137, 64, 135, 98, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Pan down:", 3384, 14, 82, 119, 8
 COMBOBOX 3006, 137, 80, 135, 104, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Operate during video playback only", 3034, 138, 95, 133, 10
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 7, 108, 269, 1
 RTEXT "Two-finger tap:", 3386, 14, 116, 119, 8
 COMBOBOX 3010, 137, 114, 135, 91, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Press and tap:", 3387, 14, 132, 119, 8
 COMBOBOX 3012, 137, 130, 135, 116, CBS_DROPDOWNLIST | WS_VSCROLL
}
