455 DIALOGEX 0, 0, 204, 303, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "Thread Settings", 3384, 15, 10, 175, 239
 RTEXT "Threads:", 3210, 22, 23, 62, 8
 COMBOBOX 3008, 89, 21, 94, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 19, 39, 169, 1
}
