456 DIALOGEX 0, 0, 284, 95, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "When on fullscreen mode", 3288, 5, 4, 272, 55
 RTEXT "Monitor:", 3289, 11, 16, 75, 8
 COMBOBOX 3008, 89, 14, 184, 205, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Split video image", 3101, 89, 29, 179, 10
 COMBOBOX 3010, 89, 42, 184, 206, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Resolution:", 3290, 11, 44, 75, 8
}
