458 DIALOGEX 0, 0, 271, 191, 0
STYLE DS_SETFONT | WS_POPUP
FONT 9, "Arial", 0, FALSE
{
 GROUPBOX "You can combine keys with the related mouse action to perform an operation", 3381, 12, 21, 243, 142
 RTEXT "Mouse action:", 3382, 22, 34, 86, 8
 COMBOBOX 3003, 109, 32, 142, 215, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Ctrl + Mouse action:", 3383, 22, 50, 86, 8
 COMBOBOX 3004, 109, 48, 142, 215, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Shift + Mouse action:", 3384, 22, 66, 86, 8
 COMBOBOX 3005, 109, 64, 142, 215, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Alt + Mouse action:", 3385, 22, 81, 86, 8
 COMBOBOX 3006, 109, 80, 142, 215, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Ctrl + Alt + Mouse action:", 3386, 22, 98, 86, 8
 COMBOBOX 3007, 109, 96, 142, 215, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Ctrl + Shift + Mouse action:", 3387, 14, 114, 94, 8
 COMBOBOX 3008, 109, 112, 142, 215, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Shift + Alt + Mouse action:", 3388, 15, 130, 92, 8
 COMBOBOX 3009, 109, 128, 142, 215, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Ctrl+Shift+Alt+Mouse action:", 3389, 13, 146, 95, 8
 COMBOBOX 3010, 109, 144, 142, 215, CBS_DROPDOWNLIST | WS_VSCROLL
}
