102 MENU
{
 POPUP "Popup Menu"
 {
  MENUITEM "Cancel (&U)", 10097
  MENUITEM SEPARATOR
  MENUITEM "Cute (&T)", 10099
  MENUITEM "Copy (&C)", 10098
  MENUITEM "Paste (&P)", 10100
  MENUITEM "Delete (&D)", 10101
  MENUITEM SEPARATOR
  MENUITEM "Apply (&A)", 10102
 }
}
