107 MENU
{
 POPUP "Menu"
 {
  MENUITEM "- Capture1 Area - ", 10441, INACTIVE
  MENUITEM "Show", 10188
  MENUITEM "Hide", 10190
  MENUITEM "Current Capture Area", 10189
  MENUITEM SEPARATOR
  MENUITEM "- Capture2 Area -", 10441, INACTIVE
  MENUITEM "Show", 10191
  MENUITEM "Hide", 10193
  MENUITEM "Current Capture Area", 10192
  MENUITEM SEPARATOR
  MENUITEM "Screen Capture Settings...", 10194
  MENUITEM SEPARATOR
  MENUITEM "Close Capture Operation", 10167
 }
}
