448 MENU
{
 POPUP "Chat Font"
 {
  MENUITEM "Chat window size - 75%", 10869
  MENUITEM "Chat window size - 100%", 10870
  MENUITEM "Chat window size - 125%", 10871
  MENUITEM "Chat window size - 150%", 10872
  MENUITEM "Chat window size - 175%", 10873
  MENUITEM "Chat window size - 200%", 10874
  MENUITEM "Adjust chat window size...", 10875
  MENUITEM SEPARATOR
  MENUITEM "Adjust chat font", 10866
 }
}
